<template>
    <circle v-for="(joint, index) in joints" :key="joint" :cx="joint.x_coordinate" :cy="joint.y_coordinate" r="6"
        :id="'joint' + connection.id + '-' + (index + 1) + '-' + joint.id"
        class="joint cursor-pointer" :class="'jc' + connection.id + '-' + (index + 1) + '-' + joint.id"
        @contextmenu.prevent="emitRightClickOnJoint(joint.id, $event)" />
    <line v-for="(line, index) in partLines" :key="line" stroke-width="5" :stroke="'url(#gradient' + connection.id + ')'"
        stroke-linecap="round" stroke-linejoin="round"
        :id="line.id + (index + 1)" :x1="line.x1" :y1="line.y1" :x2="line.x2" :y2="line.y2"
        @contextmenu.prevent="halfLineContext(line, $event, (index + 1))" />
</template>

<script>
    import { onMounted, onUpdated, reactive } from '@vue/runtime-core'
    import { getFirstX, getFirstY, getSecondX, getSecondY } from './ConnectionsCoordinates'
    import { spliceHalfLines, sortJoints, findMissingPosition, sortLines } from './JointsHandling'

    export default {
        props: ['joints', 'connection'],

        emits: ['rightClickOnLine', 'rightClickOnJoint'],

        setup (props, { emit }) {
            const partLines = reactive([])

            onMounted(() => mountJointedConnections())

            const mountJointedConnections = () => {
                let currentPosition = 1
                sortJoints(props.joints)
                partLines.push({
                    id: 'partLine' + props.connection.id + '-',
                    x1: getFirstX(props.connection, 'fence'),
                    y1: getFirstY(props.connection, 'fence'),
                    x2: props.joints[0].x_coordinate,
                    y2: props.joints[0].y_coordinate,
                    position: currentPosition++
                })

                if (props.joints.length > 1) {
                    for (let i = 1; i < props.joints.length; i++) {
                        const joint = props.joints[i]
                        partLines.push({
                            id: 'partLine' + props.connection.id + '-',
                            x1: props.joints[i - 1].x_coordinate,
                            y1: props.joints[i - 1].y_coordinate,
                            x2: joint.x_coordinate,
                            y2: joint.y_coordinate,
                            position: currentPosition++
                        })
                    }
                }

                partLines.push({
                    id: 'partLine' + props.connection.id + '-',
                    x1: props.joints[props.joints.length-1].x_coordinate,
                    y1: props.joints[props.joints.length-1].y_coordinate,
                    x2: getSecondX(props.connection, 'fence'),
                    y2: getSecondY(props.connection, 'fence'),
                    position: currentPosition++
                })
            }

            const jointsCount = reactive({ value: props.joints.length })

            onUpdated(() => updateJoints())

            const updateJoints = () => {
                // joint added
                if (props.joints.length > jointsCount.value) {
                    jointsCount.value++
                    let addedJoint = props.joints[props.joints.length - 1]
                    // delete partLine at index same as addedJoint.position
                    partLines.splice(partLines.findIndex(line => line.position === addedJoint.position), 1)
                    // adjust partLines positions
                    for (let i = 0; i < partLines.length; i++) {
                        const line = partLines[i]
                        if (line.position > addedJoint.position) line.position++
                    }
                    // remove addedJoint from last place
                    props.joints.splice((props.joints.length - 1), 1)
                    // adjust existing joints positions
                    for (let i = 0; i < props.joints.length; i++) {
                        const jnt = props.joints[i]
                        if (jnt.position >= addedJoint.position) jnt.position++
                    }
                    // add new joint to correct index based on position
                    props.joints.splice((addedJoint.position - 1), 0, addedJoint)
                    sortJoints(props.joints)
                    sortLines(partLines)
                    let previousLine = null,
                        nextLine = null
                    if (addedJoint.position === 1) {
                        // add to start
                        previousLine = {
                            id: 'partLine' + props.connection.id + '-',
                            x1: getFirstX(props.connection, 'fence'),
                            y1: getFirstY(props.connection, 'fence'),
                            x2: props.joints.find(jnt => jnt.position === 1).x_coordinate,
                            y2: props.joints.find(jnt => jnt.position === 1).y_coordinate,
                            position: addedJoint.position
                        }
                        nextLine = {
                            id: 'partLine' + props.connection.id + '-',
                            x1: props.joints.find(jnt => jnt.position === 1).x_coordinate,
                            y1: props.joints.find(jnt => jnt.position === 1).y_coordinate,
                            x2: props.joints.find(jnt => jnt.position === 2).x_coordinate,
                            y2: props.joints.find(jnt => jnt.position === 2).y_coordinate,
                            position: addedJoint.position + 1
                        }
                    } else if (addedJoint.position > 1 && addedJoint.position < props.joints.length) {
                        // add to middle
                        previousLine = {
                            id: 'partLine' + props.connection.id + '-',
                            x1: props.joints.find(jnt => jnt.position === (addedJoint.position - 1)).x_coordinate,
                            y1: props.joints.find(jnt => jnt.position === (addedJoint.position - 1)).y_coordinate,
                            x2: props.joints.find(jnt => jnt.position === addedJoint.position).x_coordinate,
                            y2: props.joints.find(jnt => jnt.position === addedJoint.position).y_coordinate,
                            position: addedJoint.position
                        }
                        nextLine = {
                            id: 'partLine' + props.connection.id + '-',
                            x1: props.joints.find(jnt => jnt.position === addedJoint.position).x_coordinate,
                            y1: props.joints.find(jnt => jnt.position === addedJoint.position).y_coordinate,
                            x2: props.joints.find(jnt => jnt.position === (addedJoint.position + 1)).x_coordinate,
                            y2: props.joints.find(jnt => jnt.position === (addedJoint.position + 1)).y_coordinate,
                            position: addedJoint.position + 1
                        }
                    } else if (addedJoint.position === props.joints.length) {
                        // add to end
                        previousLine = {
                            id: 'partLine' + props.connection.id + '-',
                            x1: props.joints.find(jnt => jnt.position === (props.joints.length - 1)).x_coordinate,
                            y1: props.joints.find(jnt => jnt.position === (props.joints.length - 1)).y_coordinate,
                            x2: props.joints.find(jnt => jnt.position === props.joints.length).x_coordinate,
                            y2: props.joints.find(jnt => jnt.position === props.joints.length).y_coordinate,
                            position: addedJoint.position
                        }
                        nextLine = {
                            id: 'partLine' + props.connection.id + '-',
                            x1: props.joints.find(jnt => jnt.position === props.joints.length).x_coordinate,
                            y1: props.joints.find(jnt => jnt.position === props.joints.length).y_coordinate,
                            x2: getSecondX(props.connection,'fence'),
                            y2: getSecondY(props.connection, 'fence'),
                            position: addedJoint.position + 1
                        }
                    }
                    // create new half lines
                    partLines.splice((addedJoint.position - 1), 0, previousLine, nextLine)
                }

                // joint destroyed
                if (props.joints.length < jointsCount.value) {
                    jointsCount.value--
                    sortJoints(props.joints)
                    sortLines(partLines)
                    let missingPosition = findMissingPosition(props.joints)
                    // adjust existing joints positions
                    for (let i = 0; i < props.joints.length; i++) {
                        const innerJnt = props.joints[i]
                        if (innerJnt.position > missingPosition) innerJnt.position--
                    }
                    if (missingPosition === 1) {
                        // deleting first joint
                        spliceHalfLines(partLines, missingPosition)
                        partLines.splice(0, 0, {
                            id: 'partLine' + props.connection.id + '-',
                            x1: getFirstX(props.connection, 'fence'),
                            y1: getFirstY(props.connection, 'fence'),
                            x2: props.joints.find(jnt => jnt.position === 1).x_coordinate,
                            y2: props.joints.find(jnt => jnt.position === 1).y_coordinate,
                            position: missingPosition
                        })
                    } else if (missingPosition > 1 && missingPosition <= props.joints.length) {
                        // deleting mid joint
                        spliceHalfLines(partLines, missingPosition)
                        partLines.splice((missingPosition - 1), 0, {
                            id: 'partLine' + props.connection.id + '-',
                            x1: props.joints.find(jnt => jnt.position === (missingPosition - 1)).x_coordinate,
                            y1: props.joints.find(jnt => jnt.position === (missingPosition - 1)).y_coordinate,
                            x2: props.joints.find(jnt => jnt.position === missingPosition).x_coordinate,
                            y2: props.joints.find(jnt => jnt.position === missingPosition).y_coordinate,
                            position: missingPosition
                        })
                    } else if (missingPosition > props.joints.length) {
                        // deleting last joint
                        spliceHalfLines(partLines, missingPosition)
                        partLines.splice((partLines.length - 1), 0, {
                            id: 'partLine' + props.connection.id + '-',
                            x1: props.joints.find(jnt => jnt.position === (missingPosition - 1)).x_coordinate,
                            y1: props.joints.find(jnt => jnt.position === (missingPosition - 1)).y_coordinate,
                            x2: getSecondX(props.connection, 'fence'),
                            y2: getSecondY(props.connection, 'fence'),
                            position: missingPosition
                        })
                    }
                }
            }

            const halfLineContext = (lineElelement, e, pos) => emit('rightClickOnLine', parseInt(lineElelement.id.split('-')[0].slice(8)), e, 'half', pos)

            const emitRightClickOnJoint = (id, event) => {
                emit('rightClickOnJoint', {
                    id: id,
                    event: event,
                    type: 'file_group'
                })
            }

            return { partLines, halfLineContext, emitRightClickOnJoint }
        }
    }
</script>
