<template>
    <svg :id="'connectionSVG' + connection.id" class="absolute overflow-visible">
        <defs>
            <linearGradient :id="'gradient' + connection.id" :x1="firstX()" :y1="firstY()" :x2="secondX()" :y2="secondY()" gradientUnits="userSpaceOnUse">
                <stop :stop-color="getFromColor" offset="0" />
                <stop :stop-color="getToColor" offset="1" />
            </linearGradient>
        </defs>
        <line v-if="!joints.length" :id="'line' + connection.id" :stroke="'url(#gradient' + connection.id + ')'" stroke-width="5" class="connectionLine"
            @contextmenu.prevent="openConnectionsMenu($event)" :x1="firstX()" :y1="firstY()" :x2="secondX()" :y2="secondY()" />
        <connection-joint v-else :joints="joints" :connection="connection"
            @right-click-on-line="emitLineEvent" @right-click-on-joint="emitToShow" />
    </svg>
</template>

<script>
    import { computed } from '@vue/runtime-core'
    import { getFirstX, getFirstY, getSecondX, getSecondY } from './ConnectionsCoordinates'
    import ConnectionJoint from './ConnectionJoint'

    export default {
        props: ['connection', 'fencePair', 'joints'],

        emits: ['openConnectionsMenu', 'partLineContext', 'displayJointMenu'],

        components: { ConnectionJoint },

        mounted() {
            Echo.channel('file-grid').listen('UpdateFileGroupEvent', response => {
                if (this.fencePair.findIndex(fence => fence.id === response.fileGroup.id)) {
                    let fence = this.fencePair.find(fence => fence.id === response.fileGroup.id)
                    if (fence) fence.color = response.fileGroup.color
                }
            })
        },

        setup (props, { emit }) {
            const firstX = () => getFirstX(props.connection, 'fence')

            const firstY = () => getFirstY(props.connection, 'fence')

            const secondX = () => getSecondX(props.connection, 'fence')

            const secondY = () => getSecondY(props.connection, 'fence')

            const openConnectionsMenu = eve => emit('openConnectionsMenu', props.connection.id, eve, 'full', 1, 'file_group')

            const getFromColor = computed(() => props.fencePair.find(fence => fence.id === props.connection.from).color)

            const getToColor = computed(() => props.fencePair.find(fence => fence.id === props.connection.to).color)

            const emitLineEvent = (connectionID, e, type, position) => emit('partLineContext', connectionID, e, type, position, 'file_group')

            const emitToShow = data => emit('displayJointMenu', data)

            return { firstX, firstY, secondX, secondY, openConnectionsMenu, getFromColor, getToColor, emitLineEvent, emitToShow }
        }
    }
</script>
