<template>
    <svg :id="'fileConnectionSVG' + filesConnection.id" class="absolute overflow-visible">
        <line v-if="!fileJoints.length" :id="'fileLine' + filesConnection.id" stroke="rgb(30, 64, 175)" stroke-width="5" class="fileConnectionLine"
            @contextmenu.prevent="openFilesConnectionsMenu($event)" :x1="lineFirstX()" :y1="lineFirstY()" :x2="lineSecondX()" :y2="lineSecondY()" />
        <files-connection-joint v-else :fileJoints="fileJoints" :fileConnection="filesConnection"
            @right-click-on-file-line="emitFileLineEvent" @right-click-on-file-joint="emitFileJointToShow" />
    </svg>
</template>

<script>
    import { getFirstX, getFirstY, getSecondX, getSecondY } from './ConnectionsCoordinates'
    import FilesConnectionJoint from './FilesConnectionJoint'

    export default {
        props: ['filesConnection', 'fileJoints'],

        emits: ['openFilesConnectionsMenu', 'partFileLineContext', 'displayFileJointMenu'],

        components: { FilesConnectionJoint },

        setup (props, { emit }) {
            const lineFirstX = () => getFirstX(props.filesConnection, 'fileContainer')

            const lineFirstY = () => getFirstY(props.filesConnection, 'fileContainer')

            const lineSecondX = () => getSecondX(props.filesConnection, 'fileContainer')

            const lineSecondY = () => getSecondY(props.filesConnection, 'fileContainer')

            const openFilesConnectionsMenu = eve => emit('openFilesConnectionsMenu', props.filesConnection.id, eve, 'full', 1, 'file')

            const emitFileLineEvent = (connectionID, e, type, position) => emit('partFileLineContext', connectionID, e, type, position, 'file')

            const emitFileJointToShow = data => emit('displayFileJointMenu', data)

            return { lineFirstX, lineFirstY, lineSecondX, lineSecondY, openFilesConnectionsMenu, emitFileLineEvent, emitFileJointToShow }
        }
    }
</script>
