<template>
    <circle v-for="(fileJoint, index) in fileJoints" :key="fileJoint" :cx="fileJoint.x_coordinate" :cy="fileJoint.y_coordinate" r="6"
        :id="'fileJoint' + fileConnection.id + '-' + (index + 1) + '-' + fileJoint.id"
        class="fileJoint cursor-pointer" :class="'fjc' + fileConnection.id + '-' + (index + 1) + '-' + fileJoint.id"
        @contextmenu.prevent="emitRightClickOnFileJoint(fileJoint.id, $event)" />
    <line v-for="(fileLine, index) in partFileLines" :key="fileLine" stroke-width="5" stroke="rgb(30, 64, 175)"
        stroke-linecap="round" stroke-linejoin="round"
        :id="fileLine.id + (index + 1)" :x1="fileLine.x1" :y1="fileLine.y1" :x2="fileLine.x2" :y2="fileLine.y2"
        @contextmenu.prevent="halfFileLineContext(fileLine, $event, (index + 1))" />
</template>

<script>
    import { onMounted, onUpdated, reactive } from '@vue/runtime-core'
    import { getFirstX, getFirstY, getSecondX, getSecondY } from './ConnectionsCoordinates'
    import { spliceHalfLines, sortJoints, findMissingPosition, sortLines } from './JointsHandling'

    export default {
        props: ['fileJoints', 'fileConnection'],

        emits: ['rightClickOnFileLine', 'rightClickOnFileJoint'],

        setup (props, { emit }) {
            const partFileLines = reactive([])

            onMounted(() => mountJointedFileConnections())

            const mountJointedFileConnections = () => {
                let currentPosition = 1
                sortJoints(props.fileJoints)
                partFileLines.push({
                    id: 'partFileLine' + props.fileConnection.id + '-',
                    x1: getFirstX(props.fileConnection, 'fileContainer'),
                    y1: getFirstY(props.fileConnection, 'fileContainer'),
                    x2: props.fileJoints[0].x_coordinate,
                    y2: props.fileJoints[0].y_coordinate,
                    position: currentPosition++
                })

                if (props.fileJoints.length > 1) {
                    for (let i = 1; i < props.fileJoints.length; i++) {
                        const joint = props.fileJoints[i]
                        partFileLines.push({
                            id: 'partFileLine' + props.fileConnection.id + '-',
                            x1: props.fileJoints[i-1].x_coordinate,
                            y1: props.fileJoints[i-1].y_coordinate,
                            x2: joint.x_coordinate,
                            y2: joint.y_coordinate,
                            position: currentPosition++
                        })
                    }
                }

                partFileLines.push({
                    id: 'partFileLine' + props.fileConnection.id + '-',
                    x1: props.fileJoints[props.fileJoints.length-1].x_coordinate,
                    y1: props.fileJoints[props.fileJoints.length-1].y_coordinate,
                    x2: getSecondX(props.fileConnection, 'fileContainer'),
                    y2: getSecondY(props.fileConnection, 'fileContainer'),
                    position: currentPosition++
                })
            }

            const fileJointsCount = reactive({ value: props.fileJoints.length })

            onUpdated(() => updateJoints())

            const updateJoints = () => {
                // joint added
                if (props.fileJoints.length > fileJointsCount.value) {
                    fileJointsCount.value++
                    let addedFileJoint = props.fileJoints[props.fileJoints.length - 1]
                    // delete partFileLine at index same as newFileJoint position
                    partFileLines.splice(partFileLines.findIndex(line => line.position === addedFileJoint.position), 1)
                    // adjust partLines positions
                    for (let i = 0; i < partFileLines.length; i++) {
                        const line = partFileLines[i]
                        if (line.position > addedFileJoint.position) line.position++
                    }
                    // remove addedFileJoint from last place
                    props.fileJoints.splice((props.fileJoints.length - 1), 1)
                    // adjust existing file joints positions
                    for (let i = 0; i < props.fileJoints.length; i++) {
                        const jnt = props.fileJoints[i]
                        if (jnt.position >= addedFileJoint.position) jnt.position++
                    }
                    // add new file joint to correct index based on position
                    props.fileJoints.splice((addedFileJoint.position - 1), 0, addedFileJoint)
                    sortJoints(props.fileJoints)
                    sortLines(partFileLines)
                    let previousLine = null,
                        nextLine = null
                    if (addedFileJoint.position === 1) {
                        // add to start
                        previousLine = {
                            id: 'partFileLine' + props.fileConnection.id + '-',
                            x1: getFirstX(props.fileConnection, 'fileContainer'),
                            y1: getFirstY(props.fileConnection, 'fileContainer'),
                            x2: props.fileJoints.find(jnt => jnt.position === 1).x_coordinate,
                            y2: props.fileJoints.find(jnt => jnt.position === 1).y_coordinate,
                            position: addedFileJoint.position
                        }
                        nextLine = {
                            id: 'partFileLine' + props.fileConnection.id + '-',
                            x1: props.fileJoints.find(jnt => jnt.position === 1).x_coordinate,
                            y1: props.fileJoints.find(jnt => jnt.position === 1).y_coordinate,
                            x2: props.fileJoints.find(jnt => jnt.position === 2).x_coordinate,
                            y2: props.fileJoints.find(jnt => jnt.position === 2).y_coordinate,
                            position: addedFileJoint.position + 1
                        }
                    } else if (addedFileJoint.position > 1 && addedFileJoint.position < props.fileJoints.length) {
                        // add to middle
                        previousLine = {
                            id: 'partFileLine' + props.fileConnection.id + '-',
                            x1: props.fileJoints.find(jnt => jnt.position === (addedFileJoint.position-1)).x_coordinate,
                            y1: props.fileJoints.find(jnt => jnt.position === (addedFileJoint.position-1)).y_coordinate,
                            x2: props.fileJoints.find(jnt => jnt.position === addedFileJoint.position).x_coordinate,
                            y2: props.fileJoints.find(jnt => jnt.position === addedFileJoint.position).y_coordinate,
                            position: addedFileJoint.position
                        }
                        nextLine = {
                            id: 'partFileLine' + props.fileConnection.id + '-',
                            x1: props.fileJoints.find(jnt => jnt.position === addedFileJoint.position).x_coordinate,
                            y1: props.fileJoints.find(jnt => jnt.position === addedFileJoint.position).y_coordinate,
                            x2: props.fileJoints.find(jnt => jnt.position === (addedFileJoint.position+1)).x_coordinate,
                            y2: props.fileJoints.find(jnt => jnt.position === (addedFileJoint.position+1)).y_coordinate,
                            position: addedFileJoint.position + 1
                        }
                    } else if (addedFileJoint.position === props.fileJoints.length) {
                        // add to end
                        previousLine = {
                            id: 'partFileLine' + props.fileConnection.id + '-',
                            x1: props.fileJoints.find(jnt => jnt.position === (props.fileJoints.length-1)).x_coordinate,
                            y1: props.fileJoints.find(jnt => jnt.position === (props.fileJoints.length-1)).y_coordinate,
                            x2: props.fileJoints.find(jnt => jnt.position === props.fileJoints.length).x_coordinate,
                            y2: props.fileJoints.find(jnt => jnt.position === props.fileJoints.length).y_coordinate,
                            position: addedFileJoint.position
                        }
                        nextLine = {
                            id: 'partFileLine' + props.fileConnection.id + '-',
                            x1: props.fileJoints.find(jnt => jnt.position === props.fileJoints.length).x_coordinate,
                            y1: props.fileJoints.find(jnt => jnt.position === props.fileJoints.length).y_coordinate,
                            x2: getSecondX(props.fileConnection,'fileContainer'),
                            y2: getSecondY(props.fileConnection, 'fileContainer'),
                            position: addedFileJoint.position + 1
                        }
                    }
                    // create new half file lines
                    partFileLines.splice((addedFileJoint.position - 1), 0, previousLine, nextLine)
                }

                // joint destroyed
                if (props.fileJoints.length < fileJointsCount.value) {
                    fileJointsCount.value--
                    sortJoints(props.fileJoints)
                    sortLines(partFileLines)
                    let missingPosition = findMissingPosition(props.fileJoints)
                    // adjust existing joints positions
                    for (let i = 0; i < props.fileJoints.length; i++) {
                        const innerJnt = props.fileJoints[i]
                        if (innerJnt.position > missingPosition) innerJnt.position--
                    }
                    if (missingPosition === 1) {
                        // deleting first joint
                        spliceHalfLines(partFileLines, missingPosition)
                        partFileLines.splice(0, 0, {
                            id: 'partFileLine' + props.fileConnection.id + '-',
                            x1: getFirstX(props.fileConnection, 'fileContainer'),
                            y1: getFirstY(props.fileConnection, 'fileContainer'),
                            x2: props.fileJoints.find(jnt => jnt.position === 1).x_coordinate,
                            y2: props.fileJoints.find(jnt => jnt.position === 1).y_coordinate,
                            position: missingPosition
                        })
                    } else if (missingPosition > 1 && missingPosition <= props.fileJoints.length) {
                        // deleting mid joint
                        spliceHalfLines(partFileLines, missingPosition)
                        partFileLines.splice((missingPosition - 1), 0, {
                            id: 'partFileLine' + props.fileConnection.id + '-',
                            x1: props.fileJoints.find(jnt => jnt.position === (missingPosition - 1)).x_coordinate,
                            y1: props.fileJoints.find(jnt => jnt.position === (missingPosition - 1)).y_coordinate,
                            x2: props.fileJoints.find(jnt => jnt.position === missingPosition).x_coordinate,
                            y2: props.fileJoints.find(jnt => jnt.position === missingPosition).y_coordinate,
                            position: missingPosition
                        })
                    } else if (missingPosition > props.fileJoints.length) {
                        // deleting last joint
                        spliceHalfLines(partFileLines, missingPosition)
                        partFileLines.splice((partFileLines.length - 1), 0, {
                            id: 'partFileLine' + props.fileConnection.id + '-',
                            x1: props.fileJoints.find(jnt => jnt.position === (missingPosition - 1)).x_coordinate,
                            y1: props.fileJoints.find(jnt => jnt.position === (missingPosition - 1)).y_coordinate,
                            x2: getSecondX(props.fileConnection, 'fileContainer'),
                            y2: getSecondY(props.fileConnection, 'fileContainer'),
                            position: missingPosition
                        })
                    }
                }
            }

            const halfFileLineContext = (fileLineElement, e, pos) => emit('rightClickOnFileLine', parseInt(fileLineElement.id.split('-')[0].slice(12)), e, 'half', pos)

            const emitRightClickOnFileJoint = (id, event) => {
                emit('rightClickOnFileJoint', {
                    id: id,
                    event: event,
                    type: 'file'
                })
            }

            return { partFileLines, halfFileLineContext, emitRightClickOnFileJoint }
        }
    }
</script>
