<template>
    <button v-show="!show.open" @click="openHelp" class="fixed bottom-5 right-5 p-2 rounded-full hover:bg-gray-300 focus:outline-none">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
    </button>
    <div v-show="show.open" class="fixed bottom-5 right-5 z-50">
        <div class="flex justify-end mb-1">
            <button @click="closeHelp" class="p-2 rounded-full hover:bg-gray-300 focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
            </button>
        </div>
        <div class="bg-white rounded-md shadow-md w-60 p-5 text-sm">
            <div class="flex gap-2 items-center">
                <div>
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0zM10 7v3m0 0v3m0-3h3m-3 0H7"></path>
                    </svg>
                </div>
                <p>Press and hold <strong>Ctrl</strong> button then use scroll to <strong>zoom</strong> workspace area.</p>
            </div>
            <hr class="my-3">
            <div class="flex gap-2 items-center">
                <div>
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M7 11.5V14m0-2.5v-6a1.5 1.5 0 113 0m-3 6a1.5 1.5 0 00-3 0v2a7.5 7.5 0 0015 0v-5a1.5 1.5 0 00-3 0m-6-3V11m0-5.5v-1a1.5 1.5 0 013 0v1m0 0V11m0-5.5a1.5 1.5 0 013 0v3m0 0V11"></path>
                    </svg>
                </div>
                <p>Press and hold <strong>Shift</strong> button then move cursor to <strong>pan</strong> workspace area.</p>
            </div>
            <hr class="my-3">
            <div class="flex gap-2 items-center">
                <div>
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122"></path>
                    </svg>
                </div>
                <p>Double click to <strong>reset</strong> workspace area.</p>
            </div>
            <hr class="my-3">
            <div class="flex gap-2 items-center">
                <div>
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M4 8V4m0 0h4M4 4l5 5m11-1V4m0 0h-4m4 0l-5 5M4 16v4m0 0h4m-4 0l5-5m11 5l-5-5m5 5v-4m0 4h-4"></path>
                    </svg>
                </div>
                <p>Hover over fences/images to <strong>resize</strong> them.</p>
            </div>
        </div>
    </div>
</template>

<script>
    import { reactive } from 'vue'

    export default {
        setup () {
            const show = reactive({ open: false })

            const openHelp = () => show.open = true

            const closeHelp = () => show.open = false

            return { show, openHelp, closeHelp }
        }
    }
</script>
