<template>
    <div :id="'imageBox' + image.id" :class="'ib' + image.id" class="absolute rounded z-10 imageBox" :style="imageBoxDimensions"
        @mouseenter="buttons.show = true" @mouseleave="buttons.show = false">
        <button v-show="buttons.show" @click="deleteImage"
            class="absolute top-2 right-2 focus:outline-none p-1 rounded-full bg-gray-800 text-white hover:bg-gray-200 hover:text-gray-600">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
            </svg>
        </button>
        <button v-show="buttons.show" @mousedown="resizeImage"
            class="absolute bottom-2 right-2 focus:outline-none p-1 rounded-full bg-gray-800 text-white hover:bg-gray-200 hover:text-gray-600">
            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h4a1 1 0 010 2H6.414l2.293 2.293a1 1 0 11-1.414 1.414L5 6.414V8a1 1 0 01-2 0V4zm9 1a1 1 0 010-2h4a1 1 0 011 1v4a1 1 0 01-2 0V6.414l-2.293 2.293a1 1 0 11-1.414-1.414L13.586 5H12zm-9 7a1 1 0 012 0v1.586l2.293-2.293a1 1 0 111.414 1.414L6.414 15H8a1 1 0 010 2H4a1 1 0 01-1-1v-4zm13-1a1 1 0 011 1v4a1 1 0 01-1 1h-4a1 1 0 010-2h1.586l-2.293-2.293a1 1 0 111.414-1.414L15 13.586V12a1 1 0 011-1z" clip-rule="evenodd"></path>
            </svg>
        </button>
    </div>
</template>

<script>
    import { computed, onMounted, reactive } from '@vue/runtime-core'
    import axios from 'axios'

    export default {
        props: ['image', 'zoom'],

        emits: ['destroyImagebox'],

        mounted() {
            // websocket listener
            Echo.channel('file-grid').listen('ImageUpdateEvent', response => {
                if (this.image.id === response.image.id) {
                    let imageEl = document.getElementById('imageBox' + response.image.id)
                    response.image.file_group_id
                        ? document.getElementById('contentArea' + response.image.file_group_id).append(imageEl)
                        : document.getElementById('area').append(imageEl)
                    imageEl.style.left = response.image.x_coordinate + 'px'
                    imageEl.style.top = response.image.y_coordinate + 'px'
                    imageEl.style.zIndex = response.image.z_index
                    
                    this.image.file_group_id = response.image.file_group_id
                    this.image.x_coordinate = response.image.x_coordinate
                    this.image.y_coordinate = response.image.y_coordinate
                    this.computedDims.wid = response.image.width
                    this.computedDims.hei = response.image.height
                }
            })
        },

        setup (props, { emit }) {
            const imageBoxDimensions = computed(() => ({
                width: computedDims.wid + 'px',
                height: computedDims.hei + 'px',
                'background-image': 'url(storage/' + props.image.path + ')',
                // fallback color
                'background-color': '#3b82f680',
                'background-position': 'center',
                'background-repeat': 'no-repeat',
                'background-size': 'cover'
            }))

            const computedDims = reactive({
                wid: props.image.width,
                hei: props.image.height
            })

            const resize = reactive({
                eventEndX: 0,
                eventEndY: 0,
                eventStartX: 0,
                eventStartY: 0,
            })

            const resizeImage = event => {
                event = event || window.Event
                if (event.button != 0) return
                event.preventDefault()
                resize.eventStartX = event.clientX / props.zoom
                resize.eventStartY = event.clientY / props.zoom
                document.getElementById('imageBox' + props.image.id).style.zIndex = 10
                document.onmousemove = resizingImageBox
                document.onmouseup = endImageResize
            }

            const resizingImageBox = event => {
                event = event || window.Event
                event.preventDefault()
                let element = document.getElementById('imageBox' + props.image.id)
                resize.eventEndX = resize.eventStartX - (event.clientX / props.zoom)
                resize.eventEndY = resize.eventStartY - (event.clientY / props.zoom)
                resize.eventStartX = event.clientX / props.zoom
                resize.eventStartY = event.clientY / props.zoom
                element.style.width = (element.offsetWidth - resize.eventEndX) + 'px'
                element.style.height = (element.offsetHeight - resize.eventEndY) + 'px'
                if (element.offsetWidth < 150) element.style.width = '150px'
                if (element.offsetHeight < 150) element.style.height = '150px'
                computedDims.wid = element.offsetWidth
                computedDims.hei = element.offsetHeight
            }

            const endImageResize = () => {
                document.onmouseup = null
                document.onmousemove = null
                document.getElementById('imageBox' + props.image.id).style.zIndex = props.image.z_index
                // resize imagebox
                axios.patch('/images/' + props.image.id + '/update', {
                    width: parseInt(computedDims.wid),
                    height: parseInt(computedDims.hei)
                }).catch(error => console.log(error))
            }

            const buttons = reactive({ show: false })

            const mountImage = (img, element) => {
                if (img.file_group_id && document.getElementById('contentArea' + img.file_group_id))
                    document.getElementById('contentArea' + img.file_group_id).insertAdjacentElement('beforeend', element)

                img.x_coordinate ? element.style.left = img.x_coordinate + 'px' : element.style.left = 0
                img.y_coordinate ? element.style.top = img.y_coordinate + 'px' : element.style.top = 0
                img.z_index ? element.style.zIndex = img.z_index : element.style.zIndex = 1
            }

            onMounted(() => mountImage(props.image, document.getElementById('imageBox' + props.image.id)))

            const deleteImage = () => axios.delete('/images/' + props.image.id + '/delete').then(() => emit('destroyImagebox', props.image.id))

            return { imageBoxDimensions, resizeImage, buttons, computedDims, deleteImage }
        }
    }
</script>
