<template>
    <app-layout>
        <input type="file" id="fileUploadInput" @change="uploadFiles" multiple class="hidden">
        <input type="file" id="imageUploadInput" accept="image/*" @change="uploadImage" class="hidden">
        <div id="fileActionsZone" class="overflow-hidden absolute right-0 left-0 bottom-0" :style="topBorder" @contextmenu.prevent="displayFileActionsMenu($event)">
            <div id="container" class="absolute h-full w-full">
                <div id="area" class="absolute h-full w-full">
                    <image-box v-for="img in images" :key="img.id" :image="img" :zoom="zoom" @destroy-imagebox="destroyImagebox" />
                    <text-box v-for="tBox in textboxes" :key="tBox.id" :textbox="tBox" @destroy-textbox="destroyTextbox" />
                    <div v-for="fence in fenceFileGroups" :key="fence.id" :id="'fence' + fence.id" class="fnc fncContentArea absolute allFences outline-none" :class="'fncCont' + fence.id">
                    	<jet-fence :fence="fence" :zoom="zoom" @update-connections-color="refreshColor" :joints="getFenceConnectionsJoints(fence)"
                            :connections="fenceConnections(fence.id)" :myFiles="getFenceFiles(fence)" :myImages="getFenceImages(fence)" />
                    </div>
                    <connection v-for="con in mountedConnections" :key="con.id" :connection="con" @open-connections-menu="displayConnectionsMenu" :fencePair="getFencePair(con)"
                        :joints="getJoints(con)" @part-line-context="displayConnectionsMenu" @display-joint-menu="displayJointsMenu" />
                    <div v-for="file in files" :key="file.id" :id="'fileContainer' + file.id" @contextmenu.prevent="displayFileContextMenu(file.id, $event)"
                        :class="'fivContainer' + file.id" class="fc absolute border-2 border-blue-800 rounded-lg fico bg-white p-2 w-28 outline-none">
                        <jet-file :file="file" :connections="getFileConnections(file)" :joints="getFileConnectionsJoints(file)" />
                        <div v-show="connecting" :id="'ff' + file.id" class="absolute z-10 fullFile top-0 bottom-0 left-0 right-0"></div>
                    </div>
                    <files-connection v-for="fileCon in mountedFilesConnections" :key="fileCon.id" :filesConnection="fileCon" @open-files-connections-menu="displayFilesConnectionsMenu"
                        :fileJoints="getFileJoints(fileCon)" @part-file-line-context="displayFilesConnectionsMenu" @display-file-joint-menu="displayJointsMenu" />
                    <jet-context-menu ref="context" id="context">
                        <template #options>
                            <div @click="downloadFile(fileUploadID)" class="mb-1 px-2 py-1 hover:bg-gray-100 flex items-center gap-x-2">
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                                </svg>
                                Download file
                            </div>
                            <div @click="destroyFile(fileUploadID)" class="mb-1 px-2 py-1 hover:bg-gray-100 flex items-center gap-x-2">
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                                </svg>
                                Delete file
                            </div>
                        </template>
                    </jet-context-menu>
                    <jet-file-actions-menu ref="actions" id="fileActionsMenu">
                        <template #options>
                            <div @click="createFence" class="py-2 w-full hover:bg-blue-100 cursor-pointer px-2 border-b border-blue-300 flex items-center gap-x-2">
                                <svg class="w-4 h-4 text-blue-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
                                </svg>
                                Create fence
                            </div>
                            <div @click="createNewTextBox" class="py-2 w-full hover:bg-blue-100 cursor-pointer px-2 border-b border-blue-300 flex items-center gap-x-2">
                                <svg class="w-4 h-4 text-blue-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"></path>
                                </svg>
                            	Create text box
                            </div>
                            <div @click="connectFences" class="py-2 w-full hover:bg-blue-100 cursor-pointer px-2 border-b border-blue-300 flex items-center gap-x-2">
                                <svg class="w-4 h-4 text-blue-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path>
                                </svg>
                                Connect fences
                            </div>
                            <div @click="connectFiles" class="py-2 w-full hover:bg-blue-100 cursor-pointer px-2 border-b border-blue-300 flex items-center gap-x-2">
                                <svg class="w-4 h-4 text-blue-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.828 10.172a4 4 0 00-5.656 0l-4 4a4 4 0 105.656 5.656l1.102-1.101m-.758-4.899a4 4 0 005.656 0l4-4a4 4 0 00-5.656-5.656l-1.1 1.1"></path>
                                </svg>
                                Connect files
                            </div>
                            <div @click="openImageInput" class="py-2 w-full hover:bg-blue-100 cursor-pointer px-2 border-b border-blue-300 flex items-center gap-x-2">
                                <svg class="w-4 h-4 text-blue-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"></path>
                                </svg>
                                Upload image
                            </div>
                            <div @click="openFileInput" class="py-2 w-full hover:bg-blue-100 cursor-pointer px-2 border-b border-blue-300 flex items-center gap-x-2">
                                <svg class="w-4 h-4 text-blue-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
                                </svg>
                                Upload file(s)
                            </div>
                            <div @click="refreshWorkspace" class="py-2 w-full hover:bg-blue-100 cursor-pointer px-2 flex items-center gap-x-2">
                                <svg class="w-4 h-4 text-blue-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15"></path>
                                </svg>
                                Refresh workspace
                            </div>
                        </template>
                    </jet-file-actions-menu>
                    <connection-menu ref="connectionsMenu" id="connectionsMenu">
                        <template #options>
                            <div @click="createConnectionJoint" class="mb-1 px-2 py-1 hover:bg-gray-100 flex items-center gap-x-2">
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                Create connection joint
                            </div>
                            <div @click="destroyConnection" class="mb-1 px-2 py-1 hover:bg-gray-100 flex items-center gap-x-2">
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                </svg>
                                Delete connection
                            </div>
                        </template>
                    </connection-menu>
                    <files-connections-menu ref="filesConnectionsMenu" id="filesConnectionsMenu">
                        <template #options>
                            <div @click="createFileConnectionJoint" class="mb-1 px-2 py-1 hover:bg-gray-100 flex items-center gap-x-2">
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                Create connection joint
                            </div>
                            <div @click="destroyFilesConnection" class="mb-1 px-2 py-1 hover:bg-gray-100 flex items-center gap-x-2">
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
                                </svg>
                                Delete files connection
                            </div>
                        </template>
                    </files-connections-menu>
                    <joints-menu ref="jointsMenu" id="jointsMenu">
                        <template #options>
                            <div @click="destroyJoint" class="mb-1 px-2 py-1 hover:bg-gray-100 flex items-center gap-x-2">
                                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                </svg>
                                Delete joint
                            </div>
                        </template>
                    </joints-menu>
                </div>
            </div>
        </div>
        <help-panel />
    </app-layout>
</template>

<script>
    import { renderer } from './Renderer'
    import { useForm, usePage } from '@inertiajs/inertia-vue3'

    import AppLayout from '@/Layouts/AppLayout'
    import JetFile from '@/Jetstream/File'
    import JetContextMenu from '@/Jetstream/ContextMenu'
    import JetFileActionsMenu from '@/Jetstream/FileActionsMenu'
    import JetFence from '@/Jetstream/Fence'
    import HelpPanel from './Help'
    import axios from 'axios'
    import TextBox from './TextBox'
    import ImageBox from './Image'
    import Connection from './Connection'
    import ConnectionMenu from './ConnectionsMenu'
    import FilesConnection from './FilesConnection'
    import FilesConnectionsMenu from './FilesConnectionsMenu'
    import JointsMenu from './JointsMenu'

    import { getFirstX, getFirstY, getSecondX, getSecondY } from './ConnectionsCoordinates'

    export default {
        props: ['files', 'fileGroups', 'connections', 'textboxes', 'images', 'filesConnections', 'joints', 'fileJoints'],

        components: {
           AppLayout,
           JetFile,
           JetContextMenu,
           JetFileActionsMenu,
           JetFence,
           HelpPanel,
           TextBox,
           ImageBox,
           Connection,
           ConnectionMenu,
           FilesConnection,
           FilesConnectionsMenu,
           JointsMenu,
        },

        data() {
            return {
                mountedConnections: [],
                mountedFilesConnections: [],
                // file right click
                fileUploadID: 0,
                // connection right click
                selectedConnection: 0,
                // dragging
                active: false,
                dragItem: null,
                saveZ: 0,
                // workspace elements
                container: null,
                instance: null,
                zoom: 1,
                // connecting
                connecting: false,
                fenceConnection: {
                    first: null,
                    second: null,
                },
                fileConnection: {
                    first: null,
                    second: null,
                },
                // joints handling
                jointType: '',
                halfLine: 0,
                // jointsMenuData
                jointsMenuData: {},
            }
        },

        computed: {
            fenceFileGroups() {
                return this.fileGroups.filter(fileGroup => fileGroup.type === 'fence')
            },

            topBorder: () => ({ top: '65px' }),
        },

        mounted() {
            this.mountedConnections = this.connections
            this.mountedFilesConnections = this.filesConnections

            let fileActionZone = document.getElementById('fileActionsZone')
            fileActionZone.addEventListener('touchstart', this.dragStart, false)
            fileActionZone.addEventListener('touchend', this.dragEnd, false)
            fileActionZone.addEventListener('touchmove', this.drag, false)
            fileActionZone.addEventListener('mousedown', this.dragStart, false)
            fileActionZone.addEventListener('mouseup', this.dragEnd, false)
            fileActionZone.addEventListener('mousemove', this.drag, false)

            this.container = document.getElementById('container')
            this.container.addEventListener('wheel', this.scrollBehaviour)
            this.container.addEventListener('dblclick', this.doubleClickBehaviour)
            this.container.addEventListener('mousemove', this.moveBehaviour)

            this.instance = renderer({
                minScale: .15,
                maxScale: 3,
                element: this.container.children[0],
                scaleSensitivity: 50
            })

            this.zoom = this.instance.transformation.scale

            // listen to websockets events
            Echo.channel('file-grid').listen('FileGridJoinEvent', e => {
                // console.log(e)
            })

            Echo.channel('file-grid').listen('CreateFileGroupEvent', response => {
                if (usePage().props.value.user.current_team_id === response.fileGroup.team_id) {
                    this.fileGroups.push(response.fileGroup)
                }
            })

            Echo.channel('file-grid').listen('RemoveFileGroupEvent', response => {
                if (usePage().props.value.user.current_team_id === response.fileGroup.team_id) {
                    this.fileGroups.splice(this.fileGroups.findIndex(fGroup => fGroup.id === response.fileGroup.id), 1)
                }
            })

            Echo.channel('file-grid').listen('UpdateFileGroupEvent', response => {
                if (usePage().props.value.user.current_team_id === response.fileGroup.team_id) {
                    let fenceEl = document.getElementById('fence' + response.fileGroup.id)
                    if (fenceEl) {
                        fenceEl.style.left = response.fileGroup.x_coordinate + 'px'
                        fenceEl.style.top = response.fileGroup.y_coordinate + 'px'
                        fenceEl.style.zIndex = response.fileGroup.z_index
                    }

                    let fenceFileChildren = document.getElementById('contentArea' + response.fileGroup.id).children,
                        fenceFiles = [],
                        fenceFilesConnections = []
                    for (let i = 0; i < fenceFileChildren.length; i++) {
                        const child = fenceFileChildren[i]
                        if (child.id.includes('fileContainer')) fenceFiles.push(child)
                    }

                    for (let i = 0; i < fenceFiles.length; i++) {
                        const file = fenceFiles[i]
                        let fileID = parseInt(file.id.slice(13))
                        fenceFilesConnections = []
                        fenceFilesConnections = this.filesConnections.filter(con => con.from == fileID || con.to == fileID)
                        for (let j = 0; j < fenceFilesConnections.length; j++) {
                            const fenceFileConnection = fenceFilesConnections[j]
                            let conEl = document.getElementById('fileLine' + fenceFileConnection.id),
                                jointedConEl = null
                            if (conEl) {
                                if (fenceFileConnection.from == fileID) {
                                    conEl.x1.baseVal.value = getFirstX(fenceFileConnection, 'fileContainer')
                                    conEl.y1.baseVal.value = getFirstY(fenceFileConnection, 'fileContainer')
                                } else {
                                    conEl.x2.baseVal.value = getSecondX(fenceFileConnection, 'fileContainer')
                                    conEl.y2.baseVal.value = getSecondY(fenceFileConnection, 'fileContainer')
                                }
                            }

                            let jointedCon = this.fileJoints.filter(jnt => jnt.connection === fenceFileConnection.id)
                            if (jointedCon.length) {
                                if (fenceFileConnection.from == fileID) {
                                    jointedConEl = document.getElementById('partFileLine' + fenceFileConnection.id + '-1')
                                    if (jointedConEl) {
                                        jointedConEl.x1.baseVal.value = getFirstX(fenceFileConnection, 'fileContainer')
                                        jointedConEl.y1.baseVal.value = getFirstY(fenceFileConnection, 'fileContainer')
                                    }
                                } else {
                                    jointedConEl = document.getElementById('partFileLine' + fenceFileConnection.id + '-' + (jointedCon.length + 1))
                                    if (jointedConEl) {
                                        jointedConEl.x2.baseVal.value = getSecondX(fenceFileConnection, 'fileContainer')
                                        jointedConEl.y2.baseVal.value = getSecondY(fenceFileConnection, 'fileContainer')
                                    }
                                }
                            }
                        }
                    }
                }
            })

            Echo.channel('file-grid').listen('CreateFileUploadEvent', response => {
                if (usePage().props.value.user.current_team_id === response.fileUpload.team_id) {
                    this.files.push(response.fileUpload)
                }
            })

            Echo.channel('file-grid').listen('FileUploadDeleteEvent', response => {
                if (this.files.find(file => file.id === response.fileId)) {
                    this.files.splice(this.files.findIndex(file => file.id === response.fileId), 1)
                }
            })

            Echo.channel('file-grid').listen('ConnectionCreateEvent', response => {
                if (usePage().props.value.user.current_team_id === response.conn.team_id) {
                    switch (response.conn.type) {
                        case 'file_group':
                            this.connections.push(response.conn)
                            break;
                        case 'file':
                            this.filesConnections.push(response.conn)
                            break;
                        case 'image':
                            this.imagesConnections.push(response.conn)
                            break;
                    }
                }
            })

            Echo.channel('file-grid').listen('ConnectionDeleteEvent', response => {
                switch (response.type) {
                    case 'file_group':
                        if (this.connections.find(connection => connection.id === response.connectionId)) {
                            this.connections.splice(this.connections.findIndex(connection => connection.id === response.connectionId), 1)
                        }
                        break;
                    case 'file':
                        if (this.filesConnections.find(connection => connection.id === response.connectionId)) {
                            this.filesConnections.splice(this.filesConnections.findIndex(connection => connection.id === response.connectionId), 1)
                        }
                        break;
                    case 'image':
                        if (this.connections.find(connection => connection.id === response.connectionId)) {
                            this.imagesConnections.splice(this.connections.findIndex(connection => connection.id === response.connectionId), 1)
                        }
                        break;
                }
            })

            Echo.channel('file-grid').listen('TextboxCreateEvent', response => {
                if (usePage().props.value.user.current_team_id === response.textbox.team_id) {
                    this.textboxes.push(response.textbox)
                }
            })

            Echo.channel('file-grid').listen('TextboxDeleteEvent', response => {
                if (this.textboxes.find(textbox => textbox.id === response.textboxId)) {
                    this.textboxes.splice(this.textboxes.findIndex(textbox => textbox.id === response.textboxId), 1)
                }
            })

            Echo.channel('file-grid').listen('ImageCreateEvent', response => {
                if (usePage().props.value.user.current_team_id === response.image.team_id) {
                    this.images.push(response.image)
                }
            })

            Echo.channel('file-grid').listen('ImageDeleteEvent', response => {
                if (this.images.find(image => image.id === response.imageId)) {
                    this.images.splice(this.images.findIndex(image => image.id === response.imageId), 1)
                }
            })

            Echo.channel('file-grid').listen('JointCreateEvent', response => {
                if (usePage().props.value.user.current_team_id === response.joint.team_id) {
                    switch (response.joint.type) {
                        case 'file_group':
                            this.joints.push(response.joint)
                            break;
                        case 'file':
                            this.fileJoints.push(response.joint)
                            break;
                        case 'image':
                            this.imageJoints.push(response.joint)
                            break;
                    }
                }
            })

            Echo.channel('file-grid').listen('JointUpdateEvent', response => {
                if (usePage().props.value.user.current_team_id === response.joint.team_id) {
                    let updatedJoint = null,
                        prevLine = null,
                        nextLine = null
                    switch (response.joint.type) {
                        case 'file_group':
                            // adjust joint position
                            updatedJoint = this.joints.find(jnt => jnt.id === response.joint.id)
                            if (updatedJoint) {
                                updatedJoint.x_coordinate = response.joint.x_coordinate
                                updatedJoint.y_coordinate = response.joint.y_coordinate
                            }
                            // adjust lines connected to updated joint
                            prevLine = document.getElementById('partLine' + response.joint.connection + '-' + response.joint.position)
                            prevLine.x2.baseVal.value = response.joint.x_coordinate
                            prevLine.y2.baseVal.value = response.joint.y_coordinate
                            nextLine = document.getElementById('partLine' + response.joint.connection + '-' + (response.joint.position + 1))
                            nextLine.x1.baseVal.value = response.joint.x_coordinate
                            nextLine.y1.baseVal.value = response.joint.y_coordinate
                            break;
                        case 'file':
                            // adjust joint position
                            updatedJoint = this.fileJoints.find(jnt => jnt.id === response.joint.id)
                            if (updatedJoint) {
                                updatedJoint.x_coordinate = response.joint.x_coordinate
                                updatedJoint.y_coordinate = response.joint.y_coordinate
                            }
                            // adjust lines connected to updated joint
                            prevLine = document.getElementById('partFileLine' + response.joint.connection + '-' + response.joint.position)
                            prevLine.x2.baseVal.value = response.joint.x_coordinate
                            prevLine.y2.baseVal.value = response.joint.y_coordinate
                            nextLine = document.getElementById('partFileLine' + response.joint.connection + '-' + (response.joint.position + 1))
                            nextLine.x1.baseVal.value = response.joint.x_coordinate
                            nextLine.y1.baseVal.value = response.joint.y_coordinate
                            break;
                        case 'image':
                            break;
                    }
                }
            })

            Echo.channel('file-grid').listen('JointDeleteEvent', response => {
                if (usePage().props.value.user.current_team_id === response.joint.team_id) {
                    switch (response.joint.type) {
                        case 'file_group':
                            this.joints.splice(this.joints.findIndex(jnt => jnt.id === response.joint.id), 1)
                            break;
                        case 'file':
                            this.fileJoints.splice(this.fileJoints.findIndex(jnt => jnt.id === response.joint.id), 1)
                            break;
                        case 'image':
                            break;
                    }
                }
            })
        },

        beforeUnmount() {
            let fileActionZone = document.getElementById('fileActionsZone')
            fileActionZone.removeEventListener('touchstart', this.dragStart, false)
            fileActionZone.removeEventListener('touchend', this.dragEnd, false)
            fileActionZone.removeEventListener('touchmove', this.drag, false)
            fileActionZone.removeEventListener('mousedown', this.dragStart, false)
            fileActionZone.removeEventListener('mouseup', this.dragEnd, false)
            fileActionZone.removeEventListener('mousemove', this.drag, false)

            this.container.removeEventListener('wheel', this.scrollBehaviour)
            this.container.removeEventListener('dbclick', this.doubleClickBehaviour)
            this.container.removeEventListener('mousemove', this.moveBehaviour)
        },

        methods: {
            scrollBehaviour(event) {
                if (!event.ctrlKey) return
                event.preventDefault()
                this.instance.zoom({
                    deltaScale: Math.sign(event.deltaY) > 0 ? -5 : 5,
                    x: event.pageX,
                    y: event.pageY
                })
                this.zoom = this.instance.transformation.scale
            },

            doubleClickBehaviour() {
                this.instance.panTo({
                    originX: 0,
                    originY: 0,
                    scale: 1
                })
                this.instance.transformation.originX = 0
                this.instance.transformation.originY = 0
                this.zoom = 1
            },

            moveBehaviour(event) {
                if (!event.shiftKey) return
                event.preventDefault()
                this.instance.panBy({
                    originX: event.movementX,
                    originY: event.movementY
                })
            },

            dragStart(event) {
                if (this.connecting || event.button != 0) return
                if (event.target !== event.currentTarget) {
                    this.active = true
                    // dragging file
                    if (event.target.classList.contains('fc')) {
                        for (let i = 0; i < event.target.classList.length; i++) {
                            const className = event.target.classList[i]
                            if (className.includes('fivContainer')) {
                                this.dragItem = document.getElementById('fileContainer' + className.slice(12))
                                document.getElementById('area').insertAdjacentElement('beforeend', this.dragItem)
                                this.dragItem.style.left = ((
                                    (event.clientX - this.instance.transformation.translateX) -
                                        (this.instance.transformation.originX * (1 - this.instance.transformation.scale))
                                ) / this.instance.transformation.scale) + 'px'
                                this.dragItem.style.top = ((
                                    (event.clientY - this.instance.transformation.translateY - 65) -
                                        (this.instance.transformation.originY * (1 - this.instance.transformation.scale))
                                ) / this.instance.transformation.scale) + 'px'

                                let cons = this.filesConnections.filter(con => con.from == this.dragItem.id.slice(13) || con.to == this.dragItem.id.slice(13))
                                for (let i = 0; i < cons.length; i++) {
                                    const conn = cons[i]
                                    let conEl = document.getElementById('fileLine' + conn.id)
                                    if (conEl) {
                                        conEl.x1.baseVal.value = getFirstX(conn, 'fileContainer')
                                        conEl.y1.baseVal.value = getFirstY(conn, 'fileContainer')
                                        conEl.x2.baseVal.value = getSecondX(conn, 'fileContainer')
                                        conEl.y2.baseVal.value = getSecondY(conn, 'fileContainer')
                                    }

                                    // adjust jointed connection position
                                    let jointedFileCons = this.fileJoints.filter(jnt => jnt.connection === conn.id),
                                        jointedFileConsEl = null
                                    if (jointedFileCons.length) {
                                        if (conn.from == this.dragItem.id.slice(13)) {
                                            jointedFileConsEl = document.getElementById('partFileLine' + conn.id + '-1')
                                            if (jointedFileConsEl) {
                                                jointedFileConsEl.x1.baseVal.value = getFirstX(conn, 'fileContainer')
                                                jointedFileConsEl.y1.baseVal.value = getFirstY(conn, 'fileContainer')
                                            }
                                        } else {
                                            jointedFileConsEl = document.getElementById('partFileLine' + conn.id + '-' + (jointedFileCons.length + 1))
                                            if (jointedFileConsEl) {
                                                jointedFileConsEl.x2.baseVal.value = getSecondX(conn, 'fileContainer')
                                                jointedFileConsEl.y2.baseVal.value = getSecondY(conn, 'fileContainer')
                                            }
                                        }
                                    }
                                }
                                i = event.target.classList.length
                            }
                        }
                    }
                    // dragging fence
                    if (event.target.classList.contains('fnc')) {
                        for (let i = 0; i < event.target.classList.length; i++) {
                            const className = event.target.classList[i]
                            if (className.includes('fncCont')) {
                                this.dragItem = document.getElementById('fence' + className.slice(7))
                                i = event.target.classList.length
                            }
                        }
                    }
                    // dragging textbox
                    if (event.target.classList.contains('editCont')) {
                        for (let i = 0; i < event.target.classList.length; i++) {
                            const className = event.target.classList[i]
                            if (className.includes('ta')) {
                                this.dragItem = document.getElementById('textArea' + className.slice(2))
                                i = event.target.classList.length
                            }
		                }
	                }
                    // dragging image box
                    if (event.target.classList.contains('imageBox')) {
                        for (let i = 0; i < event.target.classList.length; i++) {
                            const className = event.target.classList[i]
                            if (className.includes('ib')) {
                                this.dragItem = document.getElementById('imageBox' + className.slice(2))
                                // start ?
                                document.getElementById('area').insertAdjacentElement('beforeend', this.dragItem)
                                this.dragItem.style.left = ((
                                    (event.clientX - this.instance.transformation.translateX) -
                                        (this.instance.transformation.originX * (1 - this.instance.transformation.scale))
                                ) / this.instance.transformation.scale) + 'px'
                                this.dragItem.style.top = ((
                                    (event.clientY - this.instance.transformation.translateY - 65) -
                                        (this.instance.transformation.originY * (1 - this.instance.transformation.scale))
                                ) / this.instance.transformation.scale) + 'px'
                                // end ?
                                i = event.target.classList.length
                            }
                        }
                    }
                    // dragging joint
                    if (event.target.classList.contains('joint')) {
                        for (let i = 0; i < event.target.classList.length; i++) {
                            const className = event.target.classList[i]
                            if (className.includes('jc')) {
                                let classNameSplit = className.split('-')
                                this.dragItem = document.getElementById('joint' + classNameSplit[0].slice(2) + '-' + classNameSplit[1] + '-' + classNameSplit[2])
                                i = event.target.classList.length
                            }
                        }
                    }
                    // dragging file joint
                    if (event.target.classList.contains('fileJoint')) {
                        for (let i = 0; i < event.target.classList.length; i++) {
                            const className = event.target.classList[i]
                            if (className.includes('fjc')) {
                                let classNameSplit = className.split('-')
                                this.dragItem = document.getElementById('fileJoint' + classNameSplit[0].slice(3) + '-' + classNameSplit[1] + '-' + classNameSplit[2])
                                i = event.target.classList.length
                            }
                        }
                    }
                    if (this.dragItem == null) return
                    else {
                        if (!this.dragItem.xOffset) this.dragItem.xOffset = 0
                        if (!this.dragItem.yOffset) this.dragItem.yOffset = 0
                    }
                    if (event.type === 'touchstart') {
                        this.dragItem.initialX = (event.touches[0].clientX / this.instance.transformation.scale) - this.dragItem.xOffset
                        this.dragItem.initialY = (event.touches[0].clientY / this.instance.transformation.scale) - this.dragItem.yOffset
                    } else {
                        this.dragItem.initialX = (event.clientX / this.instance.transformation.scale) - this.dragItem.xOffset
                        this.dragItem.initialY = (event.clientY / this.instance.transformation.scale) - this.dragItem.yOffset
                    }
                }
                this.saveZ = this.dragItem.style.zIndex
                this.dragItem.style.zIndex = 10
            },

            drag(event) {
                if (this.connecting) return
                if (this.active && this.dragItem != null) {
                    event.preventDefault()
                    if (event.type === 'touchmove') {
                        this.dragItem.currentX = (event.touches[0].clientX / this.instance.transformation.scale) - this.dragItem.initialX
                        this.dragItem.currentY = (event.touches[0].clientY / this.instance.transformation.scale) - this.dragItem.initialY
                    } else {
                        this.dragItem.currentX = (event.clientX / this.instance.transformation.scale) - this.dragItem.initialX
                        this.dragItem.currentY = (event.clientY / this.instance.transformation.scale) - this.dragItem.initialY
                    }
                    this.translateConnections(this.dragItem, this.dragItem.xOffset - this.dragItem.currentX, this.dragItem.yOffset - this.dragItem.currentY)
                    this.dragItem.xOffset = this.dragItem.currentX
                    this.dragItem.yOffset = this.dragItem.currentY
                    this.setTranslate(this.dragItem.currentX, this.dragItem.currentY, this.dragItem)
                }
            },

            setTranslate: (xPos, yPos, el) => el.style.transform = 'translate3d(' + xPos + 'px, ' + yPos + 'px, 0)',

            translateConnections(element, xOffset, yOffset) {
                let id = '',
                    lineType = '',
                    connections = []

                if (element.id.includes('fence')) {
                    id = element.id.slice(5)
                    lineType = 'line'
                } else if (element.id.includes('file') && !element.id.includes('fileJoint')) {
                    id = element.id.slice(13)
                    lineType = 'fileLine'
                } else if (element.id.includes('joint') && !element.id.includes('fileJoint')) {
                    lineType = 'partLines'
                } else if (element.id.includes('fileJoint')) {
                    lineType = 'partFileLines'
                }

                if (lineType === 'line') {
                    // translating fence
                    connections = this.connections.filter(con => con.from == id || con.to == id)
                    for (let i = 0; i < connections.length; i++) {
                        const conn = connections[i]
                        let conEl = document.getElementById(lineType + conn.id),
                            gradientEl = document.getElementById('gradient' + conn.id)
                        if (conEl) {
                            if (conn.from == id) {
                                conEl.x1.baseVal.value -= xOffset
                                conEl.y1.baseVal.value -= yOffset
                                gradientEl.x1.baseVal.value -= xOffset
                                gradientEl.y1.baseVal.value -= yOffset
                            } else {
                                conEl.x2.baseVal.value -= xOffset
                                conEl.y2.baseVal.value -= yOffset
                                gradientEl.x2.baseVal.value -= xOffset
                                gradientEl.y2.baseVal.value -= yOffset
                            }
                        }

                        // translate jointed connections
                        let jointedCon = this.joints.filter(jnt => jnt.connection === conn.id),
                            jointedConEl = null
                        if (jointedCon.length) {
                            if (conn.from == id) {
                                jointedConEl = document.getElementById('partLine' + conn.id + '-1')
                                if (jointedConEl) {
                                    jointedConEl.x1.baseVal.value -= xOffset
                                    jointedConEl.y1.baseVal.value -= yOffset
                                }
                            } else {
                                jointedConEl = document.getElementById('partLine' + conn.id + '-' + (jointedCon.length + 1))
                                if (jointedConEl) {
                                    jointedConEl.x2.baseVal.value -= xOffset
                                    jointedConEl.y2.baseVal.value -= yOffset
                                }
                            }
                        }
                    }

                    let fenceFileChildren = document.getElementById('contentArea' + id).children,
                        fenceFiles = [],
                        fenceFilesConnections = []
                    for (let i = 0; i < fenceFileChildren.length; i++) {
                        const child = fenceFileChildren[i]
                        if (child.id.includes('fileContainer')) fenceFiles.push(child)
                    }

                    for (let i = 0; i < fenceFiles.length; i++) {
                        const file = fenceFiles[i]
                        let fileID = parseInt(file.id.slice(13))
                        fenceFilesConnections = []
                        fenceFilesConnections = this.filesConnections.filter(con => con.from == fileID || con.to == fileID)
                        for (let j = 0; j < fenceFilesConnections.length; j++) {
                            const fenceFileConnection = fenceFilesConnections[j]
                            let conEl = document.getElementById('fileLine' + fenceFileConnection.id)
                            if (conEl) {
                                if (fenceFileConnection.from == fileID) {
                                    conEl.x1.baseVal.value -= xOffset
                                    conEl.y1.baseVal.value -= yOffset
                                } else {
                                    conEl.x2.baseVal.value -= xOffset
                                    conEl.y2.baseVal.value -= yOffset
                                }
                            }

                            // translate jointed file connections
                            let jointedCon = this.fileJoints.filter(jnt => jnt.connection === fenceFileConnection.id),
                                jointedConEl = null
                            if (jointedCon.length) {
                                if (fenceFileConnection.from == fileID) {
                                    jointedConEl = document.getElementById('partFileLine' + fenceFileConnection.id + '-1')
                                    if (jointedConEl) {
                                        jointedConEl.x1.baseVal.value -= xOffset
                                        jointedConEl.y1.baseVal.value -= yOffset
                                    }
                                } else {
                                    jointedConEl = document.getElementById('partFileLine' + fenceFileConnection.id + '-' + (jointedCon.length + 1))
                                    if (jointedConEl) {
                                        jointedConEl.x2.baseVal.value -= xOffset
                                        jointedConEl.y2.baseVal.value -= yOffset
                                    }
                                }
                            }
                        }
                    }
                } else if (lineType === 'fileLine') {
                    // translating file
                    connections = this.filesConnections.filter(con => con.from == id || con.to == id)
                    for (let i = 0; i < connections.length; i++) {
                        const conn = connections[i]
                        let conEl = document.getElementById(lineType + conn.id)
                        if (conEl) {
                            if (conn.from == id) {
                                conEl.x1.baseVal.value -= xOffset
                                conEl.y1.baseVal.value -= yOffset
                            } else {
                                conEl.x2.baseVal.value -= xOffset
                                conEl.y2.baseVal.value -= yOffset
                            }
                        }

                        let jntdFileCons = this.fileJoints.filter(jnt => jnt.connection === conn.id),
                            jntdFileConsEl = null
                        if (jntdFileCons.length) {
                            if (conn.from == id) {
                                jntdFileConsEl = document.getElementById('partFileLine' + conn.id + '-1')
                                if (jntdFileConsEl) {
                                    jntdFileConsEl.x1.baseVal.value -= xOffset
                                    jntdFileConsEl.y1.baseVal.value -= yOffset
                                }
                            } else {
                                jntdFileConsEl = document.getElementById('partFileLine' + conn.id + '-' + (jntdFileCons.length + 1))
                                if (jntdFileConsEl) {
                                    jntdFileConsEl.x2.baseVal.value -= xOffset
                                    jntdFileConsEl.y2.baseVal.value -= yOffset
                                }
                            }
                        }
                    }
                } else if (lineType === 'partLines') {
                    // translating fence joint
                    let jointIDsplit = element.id.split('-'),
                        jointCon = jointIDsplit[0].slice(5),
                        jointOrd = jointIDsplit[1],
                        leftLine = document.getElementById('partLine' + jointCon + '-' + jointOrd),
                        rightLine = document.getElementById('partLine' + jointCon + '-' + (parseInt(jointOrd) + 1))

                    leftLine.x2.baseVal.value -= xOffset
                    leftLine.y2.baseVal.value -= yOffset

                    rightLine.x1.baseVal.value -= xOffset
                    rightLine.y1.baseVal.value -= yOffset
                } else if (lineType === 'partFileLines') {
                    // translating file joint
                    let jointIDsplit = element.id.split('-'),
                        jointCon = jointIDsplit[0].slice(9),
                        jointOrd = jointIDsplit[1],
                        leftLine = document.getElementById('partFileLine' + jointCon + '-' + jointOrd),
                        rightLine = document.getElementById('partFileLine' + jointCon + '-' + (parseInt(jointOrd) + 1))

                    leftLine.x2.baseVal.value -= xOffset
                    leftLine.y2.baseVal.value -= yOffset

                    rightLine.x1.baseVal.value -= xOffset
                    rightLine.y1.baseVal.value -= yOffset
                }
            },

            dragEnd(event) {
                if (this.connecting) return
                if (this.dragItem != null) {
                    if (this.dragItem.id.includes('joint') && !this.dragItem.id.includes('fileJoint')) {
                        let draggingJoint = this.joints.find(jnt => jnt.id === parseInt(this.dragItem.id.split('-')[2]))
                        draggingJoint.x_coordinate += this.dragItem.currentX
                        draggingJoint.y_coordinate += this.dragItem.currentY
                        this.dragItem.style.transform = 'none'
                        this.dragItem.xOffset = 0
                        this.dragItem.yOffset = 0
                        this.dragItem.style.zIndex = this.saveZ
                        this.saveZ = 0
                        axios.patch('/joints/' + draggingJoint.id, {
                            x_coordinate: draggingJoint.x_coordinate,
                            y_coordinate: draggingJoint.y_coordinate,
                        })
                    } else if (this.dragItem.id.includes('fileJoint')) {
                        let draggingJoint = this.fileJoints.find(jnt => jnt.id === parseInt(this.dragItem.id.split('-')[2]))
                        draggingJoint.x_coordinate += this.dragItem.currentX
                        draggingJoint.y_coordinate += this.dragItem.currentY
                        this.dragItem.style.transform = 'none'
                        this.dragItem.xOffset = 0
                        this.dragItem.yOffset = 0
                        this.dragItem.style.zIndex = this.saveZ
                        this.saveZ = 0
                        axios.patch('/joints/' + draggingJoint.id, {
                            x_coordinate: draggingJoint.x_coordinate,
                            y_coordinate: draggingJoint.y_coordinate,
                        })
                    } else {
                        this.dragItem.initialX = this.dragItem.currentX
                        this.dragItem.initialY = this.dragItem.currentY
                        this.dragItem.style.left = (this.dragItem.offsetLeft + this.dragItem.currentX) + 'px'
                        this.dragItem.style.top = (this.dragItem.offsetTop + this.dragItem.currentY) + 'px'
                        this.dragItem.style.transform = 'none'
                        this.dragItem.xOffset = 0
                        this.dragItem.yOffset = 0
                        this.dragItem.style.zIndex = this.saveZ
                        this.saveZ = 0
                        let parent = this.checkParent(this.dragItem, event)
                        if (this.dragItem.classList.contains('fc')) {
                            axios.patch('/files/'+ parseInt(this.dragItem.id.slice(13)) +'/update', {
                                x_coordinate: this.dragItem.offsetLeft,
                                y_coordinate: this.dragItem.offsetTop,
                                z_index: parseInt(this.dragItem.style.zIndex),
                                file_group_id: parseInt(parent)
                            }).then(result => {
                                let file = this.files.find(file => file.id === result.data.fileUpload.id)
                                if (file) {
                                    file.file_group_id = result.data.fileUpload.file_group_id
                                    file.x_coordinate = result.data.fileUpload.x_coordinate
                                    file.y_coordinate = result.data.fileUpload.y_coordinate
                                }
                            }).catch(error => console.log(error))
                        } else if (this.dragItem.classList.contains('fnc')) {
                            axios.patch('/fence/' + parseInt(this.dragItem.id.slice(5)), {
                                x_coordinate: this.dragItem.offsetLeft,
                                y_coordinate: this.dragItem.offsetTop,
                                z_index: parseInt(this.dragItem.style.zIndex)
                            }).catch(error => console.log(error))
                        } else if (this.dragItem.classList.contains('editCont')) {
                            // update textbox position
                            axios.patch('/textboxes/' + parseInt(this.dragItem.id.slice(8)) + '/update', {
                                x_coordinate: this.dragItem.offsetLeft,
                                y_coordinate: this.dragItem.offsetTop,
                            }).catch(error => console.log(error))
                        } else if (this.dragItem.classList.contains('imageBox')) {
                            // reposition imagebox
                            axios.patch('/images/' + parseInt(this.dragItem.id.slice(8)) + '/update', {
                                x_coordinate: this.dragItem.offsetLeft,
                                y_coordinate: this.dragItem.offsetTop,
                                z_index: parseInt(this.dragItem.style.zIndex),
                                file_group_id: parseInt(parent)
                            }).then(result => {
                                let image = this.images.find(img => img.id === result.data.image.id)
                                if (image) {
                                    image.file_group_id = result.data.image.file_group_id
                                    image.x_coordinate = result.data.image.x_coordinate
                                    image.y_coordinate = result.data.image.y_coordinate
                                }
                            }).catch(error => console.log(error))
                        }
                    }
                }
                this.active = false
                this.dragItem = null
            },

            checkParent(draggingFileElement, event) {
                let hoveredFence = this.getHoveredFence(draggingFileElement)
                if (hoveredFence != null) {
                    let hoveredFenceID = hoveredFence.id.slice(5)
                    document.getElementById('contentArea' + hoveredFenceID).insertAdjacentElement('beforeend', draggingFileElement)
                    draggingFileElement.style.left = (((
                        (event.clientX - this.instance.transformation.translateX - 2) -
                            (this.instance.transformation.originX * (1 - this.instance.transformation.scale))
                    ) / this.instance.transformation.scale) - hoveredFence.offsetLeft) + 'px'
                    draggingFileElement.style.top = (((
                        (event.clientY - this.instance.transformation.translateY - 65) -
                            (this.instance.transformation.originY * (1 - this.instance.transformation.scale))
                    ) / this.instance.transformation.scale) - hoveredFence.offsetTop - 44) + 'px'
                    return hoveredFenceID
                }
                return null
            },

            getHoveredFence: hoveringFile => {
                let hoveredFence = null,
                    fences = document.getElementsByClassName('allFences')
                for (let i = 0; i < fences.length; i++) {
                    const currentFence = fences[i]
                    if (
                        (hoveringFile.offsetLeft >= currentFence.offsetLeft) &&
                        ((hoveringFile.offsetLeft + hoveringFile.offsetWidth) <= (currentFence.offsetLeft + currentFence.offsetWidth)) &&
                        (hoveringFile.offsetTop >= (currentFence.offsetTop + 26)) &&
                        ((hoveringFile.offsetTop + hoveringFile.offsetHeight) <= (currentFence.offsetTop + currentFence.offsetHeight))
                    ) {
                        hoveredFence = currentFence
                        i = fences.length
                    }
                }
                return hoveredFence
            },

            createFence() {
                axios.post('/create-fence', {
                    name: 'fenceName',
                    type: 'fence',
                    color: '#A73939',
                    width: 380,
                    height: 380,
                    z_index: 1,
                    x_coordinate: document.getElementById('fileActionsMenu').offsetLeft,
                    y_coordinate: document.getElementById('fileActionsMenu').offsetTop,
                }).then(response => this.fileGroups.push(response.data.fileGroup))
            },

            createNewTextBox() {
                axios.post('/textboxes', {
                    user_id: usePage().props.value.user.id,
                    team_id: usePage().props.value.user.current_team_id,
                    content: '',
                    x_coordinate: parseInt(document.getElementById('fileActionsMenu').style.left.slice(0, -2)),
                    y_coordinate: parseInt(document.getElementById('fileActionsMenu').style.top.slice(0, -2)),
                    z_index: 3
                }).then(result => this.textboxes.push(result.data.textbox))
            },

            downloadFile: id => window.location.href = route('file.download', { fileUpload: id }),

            destroyFile(id) {
                axios.delete('/files/' + id + '/delete')
                    .then(() => this.files.splice(this.files.findIndex(file => file.id === id), 1))
            },

            destroyConnection() {
                axios.delete('/connections/' + this.selectedConnection)
                    .then(() => this.connections.splice(this.connections.findIndex(connection => connection.id === this.selectedConnection), 1))
            },

            destroyFilesConnection() {
                axios.delete('/connections/' + this.selectedConnection)
                    .then(() => this.filesConnections.splice(this.filesConnections.findIndex(connection => connection.id === this.selectedConnection), 1))
            },

            createConnectionJoint() {
                axios.post('joints', {
                    connection: this.selectedConnection,
                    position: this.halfLine,
                    x_coordinate: document.getElementById('connectionsMenu').offsetLeft,
                    y_coordinate: document.getElementById('connectionsMenu').offsetTop,
                    type: this.jointType
                }).then(result => this.joints.push(result.data.joint)).catch(error => console.log(error))
            },

            createFileConnectionJoint() {
                axios.post('joints', {
                    connection: this.selectedConnection,
                    position: this.halfLine,
                    x_coordinate: document.getElementById('filesConnectionsMenu').offsetLeft,
                    y_coordinate: document.getElementById('filesConnectionsMenu').offsetTop,
                    type: this.jointType
                }).then(result => this.fileJoints.push(result.data.joint)).catch(error => console.log(error))
            },

            destroyJoint() {
                let jointToDelete = null
                switch (this.jointsMenuData.type) {
                    case 'file_group':
                        jointToDelete = this.joints.find(jnt => jnt.id === this.jointsMenuData.id)
                        break;
                    case 'file':
                        jointToDelete = this.fileJoints.find(jnt => jnt.id === this.jointsMenuData.id)
                        break;
                    case 'image':
                        break;
                }
                if (jointToDelete) {
                    axios.delete('/joints/' + jointToDelete.id)
                        .then(() => {
                            switch (jointToDelete.type) {
                                case 'file_group':
                                    this.joints.splice(this.joints.findIndex(jnt => jnt.id === jointToDelete.id), 1)
                                    break;
                                case 'file':
                                    this.fileJoints.splice(this.fileJoints.findIndex(jnt => jnt.id === jointToDelete.id), 1)
                                    break;
                                case 'image':
                                    break;
                            }
                        })
                }
            },

            displayFileActionsMenu(event) {
                let element = event.target || event.srcElement
                if (
                    element.classList.contains('fico')
                    || element.classList.contains('connectionLine')
                    || element.classList.contains('fileConnectionLine')
                    || element.nodeName.toLowerCase() === 'line'
                    || element.classList.contains('joint')
                    || element.classList.contains('fileJoint')
                ) return

                setTimeout(() => this.$refs.actions.open = true, 0)
                this.positionContextMenu(event, document.getElementById('fileActionsMenu'), this.instance.transformation)

                let trans = this.instance.transformation
                if (element.id.includes('contentArea')) {
                    this.form.x_coordinate = (event.clientX - element.getBoundingClientRect().left - element.clientLeft + element.scrollLeft) / trans.scale
                    this.form.y_coordinate = (event.clientY - element.getBoundingClientRect().top - element.clientTop + element.scrollTop) / trans.scale
                    this.form.file_group_id = parseInt(element.id.slice(11))
                } else {
                    this.form.x_coordinate = parseInt((((event.clientX - trans.translateX) - (trans.originX * (1 - trans.scale))) / trans.scale).toFixed(2))
                    this.form.y_coordinate = parseInt((((event.clientY - trans.translateY - 65) - (trans.originY * (1 - trans.scale))) / trans.scale).toFixed(2))
                    this.form.file_group_id = null
                }
            },

            displayFileContextMenu(docID, event) {
                this.fileUploadID = docID
                setTimeout(() => this.$refs.context.open = true, 0)
                this.positionContextMenu(event, document.getElementById('context'), this.instance.transformation)
            },

            displayJointsMenu(data) {
                this.jointsMenuData = data
                setTimeout(() => this.$refs.jointsMenu.open = true, 0)
                this.positionContextMenu(this.jointsMenuData.event, document.getElementById('jointsMenu'), this.instance.transformation)
            },

            displayConnectionsMenu(conID, eve, type, position, jntType) {
                this.selectedConnection = conID
                type === 'half' ? this.halfLine = position : this.halfLine = 1
                this.jointType = jntType
                setTimeout(() => this.$refs.connectionsMenu.open = true, 0)
                this.positionContextMenu(eve, document.getElementById('connectionsMenu'), this.instance.transformation)
            },

            displayFilesConnectionsMenu(conID, eve, type, position, jntType) {
                this.selectedConnection = conID
                type === 'half' ? this.halfLine = position : this.halfLine = 1
                this.jointType = jntType
                setTimeout(() => this.$refs.filesConnectionsMenu.open = true, 0)
                this.positionContextMenu(eve, document.getElementById('filesConnectionsMenu'), this.instance.transformation)
            },

            positionContextMenu: (event, customContextMenu, trans) => {
                setTimeout(() => {
                    // (((event.clientX - trans.translateX) - (trans.originX - (trans.originX * trans.scale))) / trans.scale)
                    customContextMenu.style.left = (((event.clientX - trans.translateX) - (trans.originX * (1 - trans.scale))) / trans.scale) + 'px'
                    // (((event.clientY - trans.translateY - 65) - (trans.originY - (trans.originY * trans.scale))) / trans.scale)
                    customContextMenu.style.top = (((event.clientY - trans.translateY - 65) - (trans.originY * (1 - trans.scale))) / trans.scale) + 'px'
                }, 0)
            },

            connectFences() {
                this.connecting = true
                document.body.style.cursor = 'crosshair'
                document.getElementsByClassName('fncContentArea').forEach(fence => fence.addEventListener('click', this.getFenceElement))
            },

            connectFiles() {
                this.connecting = true
                document.body.style.cursor = 'crosshair'
                document.getElementsByClassName('fullFile').forEach(file => file.addEventListener('click', this.getFileElement))
            },

            getFileElement(ev) {
                this.fileConnection.first == null ? this.fileConnection.first = ev.target : this.fileConnection.second = ev.target
                if (this.fileConnection.second != null) {
                    if (this.fileConnection.first != this.fileConnection.second) {
                        this.connecting = false
                        document.body.style.cursor = 'default'
                        document.getElementsByClassName('fullFile').forEach(file => file.removeEventListener('click', this.getFileElement), false)
                        axios.post('/connections', {
                            from: parseInt(this.fileConnection.first.id.slice(2)),
                            to: parseInt(this.fileConnection.second.id.slice(2)),
                            user_id: usePage().props.value.user.id,
                            team_id: usePage().props.value.user.current_team_id,
                            color: '#000000',
                            type: 'file'
                        }).then(result => this.filesConnections.push(result.data.connection))
                        this.fileConnection.first = null
                        this.fileConnection.second = null
                    } else {
                        this.connecting = false
                        this.fileConnection.first = null
                        this.fileConnection.second = null
                        document.body.style.cursor = 'default'
                        document.getElementsByClassName('fullFile').forEach(file => file.removeEventListener('click', this.getFileElement), false)
                    }
                }
            },

            getFenceElement(ev) {
                this.fenceConnection.first == null ? this.fenceConnection.first = ev.target : this.fenceConnection.second = ev.target
                if (this.fenceConnection.second != null) {
                    if (this.fenceConnection.first != this.fenceConnection.second) {
                        this.connecting = false
                        document.body.style.cursor = 'default'
                        document.getElementsByClassName('fncContentArea').forEach(fence => fence.removeEventListener('click', this.getFenceElement), false)
                        axios.post('/connections', {
                            from: parseInt(this.fenceConnection.first.id.slice(11)),
                            to: parseInt(this.fenceConnection.second.id.slice(11)),
                            user_id: usePage().props.value.user.id,
                            team_id: usePage().props.value.user.current_team_id,
                            color: '#000000',
                            type: 'file_group'
                        }).then(result => this.connections.push(result.data.connection))
                        this.fenceConnection.first = null
                        this.fenceConnection.second = null
                    } else {
                        this.connecting = false
                        this.fenceConnection.first = null
                        this.fenceConnection.second = null
                        document.body.style.cursor = 'default'
                        document.getElementsByClassName('fncContentArea').forEach(fence => fence.removeEventListener('click', this.getFenceElement), false)
                    }
                }
            },
        },

        setup(props) {
            const form = useForm({
                files: null,
                x_coordinate: 0,
                y_coordinate: 0,
                file_group_id: null,
                user_id: usePage().props.value.user.id,
                team_id: usePage().props.value.user.current_team_id,
            })

            const openFileInput = () => document.getElementById('fileUploadInput').click()

            const openImageInput = () => document.getElementById('imageUploadInput').click()

            const uploadFiles = e => {
                form.files = e.target.files

                for (let i = 0; i < form.files.length; i++) {

                    let formData = new FormData()
                    formData.append('file', form.files[i])
                    formData.append('x_coordinate', form.x_coordinate)
                    formData.append('y_coordinate', form.y_coordinate)
                    formData.append('file_group_id', form.file_group_id)

                    axios.post('/files/create', formData, {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(result => props.files.push(result.data.fileUpload))
                    .catch((error) => console.log(error))
                }
            }

            const uploadImage = e => {
                form.files = e.target.files[0]

                let formData = new FormData()
                formData.append('file', form.files)
                formData.append('x_coordinate', form.x_coordinate)
                formData.append('y_coordinate', form.y_coordinate)
                formData.append('file_group_id', form.file_group_id != null ? form.file_group_id : '')
                formData.append('user_id', form.user_id)
                formData.append('team_id', form.team_id)

                axios.post('/images', formData, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                }).then(result => props.images.push(result.data.image))
                .catch(error => console.log(error))
            }

            const destroyTextbox = textboxID => props.textboxes.splice(props.textboxes.findIndex(textbox => textbox.id === textboxID), 1)

            const destroyImagebox = imageboxID => props.images.splice(props.images.findIndex(imgBox => imgBox.id === imageboxID), 1)

            const fenceConnections = fenceID => props.connections.filter(con => con.from === fenceID || con.to === fenceID)

            const getFenceConnectionsJoints = fence => {
                let fenceJoints = [],
                    fenceCons = fenceConnections(fence.id)
                for (let i = 0; i < fenceCons.length; i++) {
                    const fncConnection = fenceCons[i]
                    for (let j = 0; j < props.joints.length; j++) {
                        const jnt = props.joints[j]
                        if (jnt.connection === fncConnection.id) fenceJoints.push(jnt)
                    }
                }
                return fenceJoints
            }

            const getFencePair = con => props.fileGroups.filter(fence => fence.id === con.from || fence.id === con.to)

            const refreshColor = fence => props.fileGroups.find(fen => fen.id === fence.id).color = fence.color

            const getFenceFiles = fence => props.files.filter(file => file.file_group_id === fence.id)

            const getFenceImages = fence => props.images.filter(img => img.file_group_id === fence.id)

            const getFileConnections = file => props.filesConnections.filter(con => con.from === file.id || con.to === file.id)

            const getFileConnectionsJoints = file => {
                let fileJoints = [],
                    fileCons = getFileConnections(file)
                for (let i = 0; i < fileCons.length; i++) {
                    const fileConnection = fileCons[i]
                    for (let j = 0; j < props.fileJoints.length; j++) {
                        const jnt = props.fileJoints[j]
                        if (jnt.connection === fileConnection.id) fileJoints.push(jnt)
                    }
                }
                return fileJoints
            }

            const getJoints = connection => props.joints.filter(joint => joint.connection === connection.id)

            const getFileJoints = fileConnection => props.fileJoints.filter(fileJoint => fileJoint.connection === fileConnection.id)

            const refreshWorkspace = () => location.reload()

            return {
                openFileInput,
                uploadFiles,
                form,
                openImageInput,
                uploadImage,
                destroyTextbox,
                destroyImagebox,
                fenceConnections,
                getFencePair,
                refreshColor,
                getFenceFiles,
                getFenceImages,
                getFileConnections,
                getJoints,
                getFileJoints,
                getFenceConnectionsJoints,
                getFileConnectionsJoints,
                refreshWorkspace
            }
        }
    }
</script>
