<template>
    <div :id="'textArea' + textbox.id" :class="'ta' + textbox.id" @mouseenter="box.showDelete = true" @mouseleave="box.showDelete = false"
        class="editCont px-5 py-1 rounded cursor-default absolute border border-white bg-gray-800 text-white">
        <button v-show="box.showDelete" @click="deleteTextbox" class="focus:outline-none absolute -top-5 right-0">
            <svg class="w-5 h-5 text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path>
            </svg>
        </button>
        <div contenteditable="true" class="px-3 focus:outline-none" @blur="saveContent($event)"> {{ box.value }} </div>
    </div>
</template>

<script>
    import { reactive } from '@vue/reactivity'
    import { onMounted } from '@vue/runtime-core'
    import axios from 'axios'

    export default {
        props: ['textbox'],

        emits: ['destroyTextbox'],

        mounted() {
            // websocket listener
            Echo.channel('file-grid').listen('TextboxUpdateEvent', response => {
                if (this.textbox.id === response.textbox.id) {
                    let textboxEl = document.getElementById('textArea' + response.textbox.id)
                    textboxEl.style.left = response.textbox.x_coordinate + 'px'
                    textboxEl.style.top = response.textbox.y_coordinate + 'px'
                    this.box.value = response.textbox.content
                }
            })
        },

        setup (props, { emit }) {
            const box = reactive({
                value: props.textbox.content,
                showDelete: false
            })

            onMounted(() => mountTextbox(props.textbox, document.getElementById('textArea' + props.textbox.id)))

            const mountTextbox = (textbox, element) => {
                textbox.x_coordinate ? element.style.left = textbox.x_coordinate + 'px' : element.style.left = 0
                textbox.y_coordinate ? element.style.top = textbox.y_coordinate + 'px' : element.style.top = 0
                textbox.z_index ? element.style.zIndex = textbox.z_index : element.style.zIndex = 3
            }

            const saveContent = ev => {
                box.value = ev.target.innerText
                axios.patch('/textboxes/' + props.textbox.id + '/update', { content: box.value }).catch(error => console.log(error))
            }

            const deleteTextbox = () => axios.delete('/textboxes/' + props.textbox.id + '/delete').then(() => emit('destroyTextbox', props.textbox.id))

            return { box, saveContent, deleteTextbox }
        }
    }
</script>
