<template>
    <div v-show="open" class="w-44 absolute z-50 rounded-md shadow-lg bg-white cursor-pointer">
        <slot name="options"></slot>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                open: false,
            }
        },

        methods: {
            closeOnEscape(event) {
                if (this.open && event.keyCode === 27) this.open = false
            },

            closeContextMenu(event) {
                if (!this.rightClickInsideElement(event) && this.open) this.open = false
            },

            rightClickInsideElement(event) {
                let element = event.srcElement || event.target
                return element.classList.contains('fiv-sqo') ? true : false
            },

            leftMouseClick(event) {
                let click = event.which || event.button
                if (this.open && click === 1) this.open = false
            },

            closeOnScroll() {
                if (this.open) this.open = false
            },
        },

        created() {
            // close if ESC was clicked
            document.addEventListener('keydown', this.closeOnEscape)
            // close if right click occured outside of document element
            document.addEventListener('contextmenu', this.closeContextMenu)
            // close if left click occured outside of document element
            document.addEventListener('click', this.leftMouseClick)
            // close on scroll
            document.addEventListener('wheel', this.closeOnScroll)
        },

        beforeUnmount() {
            document.removeEventListener('keydown', this.closeOnEscape)
            document.removeEventListener('contextmenu', this.closeContextMenu)
            document.removeEventListener('click', this.leftMouseClick)
            document.removeEventListener('wheel', this.closeOnScroll)
        },
    }
</script>
