<template>
    <div class="hoverFence fnc relative" :class="'fncCont' + fence.id">
        <div class="flex gap-x-1 fenceName text-white bg-gray-900 border-gray-800 px-2 mx-3 rounded-tl-2xl rounded-tr-2xl border-t-2 border-l-2 border-r-2 cursor-default">
            <div class="flex-1 fnc" :class="'fncCont' + fence.id">
                <input type="text" v-model="fence.name" @change="updateFenceName($event)"
                    class="w-full bg-transparent border-0 ring-0 focus:ring-transparent focus:outline-none">
            </div>
            <div class="flex gap-x-2 items-center">
                <button class="focus:outline-none" @click="showPicker = !showPicker">
                    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 21a4 4 0 01-4-4V5a2 2 0 012-2h4a2 2 0 012 2v12a4 4 0 01-4 4zm0 0h12a2 2 0 002-2v-4a2 2 0 00-2-2h-2.343M11 7.343l1.657-1.657a2 2 0 012.828 0l2.829 2.829a2 2 0 010 2.828l-8.486 8.485M7 17h.01"></path>
                    </svg>
                </button>
                <button @click="confirmDelete" class="focus:outline-none">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
        <div :id="'contentArea' + fence.id" :class="'fncCont' + fence.id" :style="contentAreaDimensions" @mouseenter="resizeBtn.show = true" @mouseleave="resizeBtn.show = false"
            class="fnc relative overflow-hidden border-gray-800 rounded-2xl border-2 bg-opacity-95">
            <button v-show="resizeBtn.show" @mousedown="resizeFence" class="absolute bottom-2 right-2 focus:outline-none p-1 rounded-full bg-gray-800 text-white hover:bg-gray-200 hover:text-gray-600">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 4a1 1 0 011-1h4a1 1 0 010 2H6.414l2.293 2.293a1 1 0 11-1.414 1.414L5 6.414V8a1 1 0 01-2 0V4zm9 1a1 1 0 010-2h4a1 1 0 011 1v4a1 1 0 01-2 0V6.414l-2.293 2.293a1 1 0 11-1.414-1.414L13.586 5H12zm-9 7a1 1 0 012 0v1.586l2.293-2.293a1 1 0 111.414 1.414L6.414 15H8a1 1 0 010 2H4a1 1 0 01-1-1v-4zm13-1a1 1 0 011 1v4a1 1 0 01-1 1h-4a1 1 0 010-2h1.586l-2.293-2.293a1 1 0 111.414-1.414L15 13.586V12a1 1 0 011-1z" clip-rule="evenodd"></path>
                </svg>
            </button>
        </div>
        <!-- Confirm fence delete -->
        <jet-dialog-modal :show="confirmingDelete.show" @close="closeModal">
            <template #title> Delete fence {{ fence.name }} ? </template>
            <template #content>
                Are you sure you wish to delete this fence? This action is permanent and can not be undone. Please save all files you wish to retain.
            </template>
            <template #footer>
                <secondary-button @click="closeModal"> Cancel </secondary-button>
                <jet-button class="ml-2" @click="deleteFence" :class="{ 'opacity-25': form.processing }" :disabled="form.processing"> Delete </jet-button>
            </template>
        </jet-dialog-modal>
        <div v-show="showPicker" class="absolute top-14 shadow-lg" style="right: -300px;">
            <ele-color-picker v-model:color="color" />
            <div class="w-full flex items-center justify-center bg-white">
                <button class="focus:outline-none w-full text-center p-2 hover:bg-gray-100" @click="saveColor">
                    <svg class="w-5 h-5 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-3m-1 4l-3 3m0 0l-3-3m3 3V4"></path>
                    </svg>
                    Save
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    import SecondaryButton from '@/Jetstream/SecondaryButton'
    import JetDialogModal from '@/Jetstream/DialogModal'
    import JetButton from '@/Jetstream/Button'
    import { reactive } from '@vue/reactivity'
    import { useForm } from '@inertiajs/inertia-vue3'
    import axios from 'axios'

    import { getFirstX, getFirstY, getSecondX, getSecondY } from '../Pages/Files/ConnectionsCoordinates'

    export default {
        props: ['fence', 'zoom', 'connections', 'myFiles', 'myImages', 'joints'],

        emits: ['stopClassicMenuPropagation'],

        components: {
            SecondaryButton,
            JetDialogModal,
            JetButton,
        },

        emits: ['updateConnectionsColor'],

        data() {
            return {
                eventEndX: 0,
                eventEndY: 0,
                eventStartX: 0,
                eventStartY: 0,
                showPicker: false,
                color: { hex: this.fence.color },
                // hex8 for opacity
                fenceWid: this.fence.width,
                fenceHei: this.fence.height,
            }
        },

        mounted() {
            document.addEventListener('keydown', this.closeOnEsc)

            this.mountFence(this.fence, document.getElementById('fence' + this.fence.id))

            // listen to websockets events
            Echo.channel('file-grid').listen('UpdateFileGroupEvent', response => {
                if (this.fence.id === response.fileGroup.id) {
                    this.color.hex = response.fileGroup.color
                    this.fenceWid = response.fileGroup.width
                    this.fenceHei = response.fileGroup.height
                    this.fence.name = response.fileGroup.name

                    setTimeout(() => {
                        // adjust connections
                        for (let i = 0; i < this.connections.length; i++) {
                            const conn = this.connections[i]
                            let conEl = document.getElementById('line' + conn.id),
                                jointedConnection = null
                            if (conEl) {
                                conEl.x1.baseVal.value = getFirstX(conn, 'fence')
                                conEl.y1.baseVal.value = getFirstY(conn, 'fence')
                                conEl.x2.baseVal.value = getSecondX(conn, 'fence')
                                conEl.y2.baseVal.value = getSecondY(conn, 'fence')
                            } else {
                                // adjust jointed connections
                                if (conn.from === this.fence.id) {
                                    jointedConnection = document.getElementById('partLine' + conn.id + '-1')
                                    if (jointedConnection) {
                                        jointedConnection.x1.baseVal.value = getFirstX(conn, 'fence')
                                        jointedConnection.y1.baseVal.value = getFirstY(conn, 'fence')
                                    }
                                } else {
                                    jointedConnection = document.getElementById('partLine' + conn.id + '-' + (this.joints.filter(jnt => jnt.connection === conn.id).length + 1))
                                    if (jointedConnection) {
                                        jointedConnection.x2.baseVal.value = getSecondX(conn, 'fence')
                                        jointedConnection.y2.baseVal.value = getSecondY(conn, 'fence')
                                    }
                                }
                            }
                        }
                    }, 0)
                }
            })
        },

        unmounted() { document.removeEventListener('keydown', this.closeOnEsc) },

        computed: {
            contentAreaDimensions() {
                return {
                    width: this.fenceWid + 'px',
                    height: this.fenceHei + 'px',
                    backgroundColor: this.color.hex
                }
            },

            fenceNameBackgroundColor() {
                return { backgroundColor: this.color.hex }
            },

            xRange() {
                let maxX = 320
                for (let i = 0; i < this.myFiles.length; i++) {
                    const file = this.myFiles[i]
                    let fileDOM = document.getElementById('fileContainer' + file.id)
                    if ((file.x_coordinate + fileDOM.offsetWidth + 10) > maxX) maxX = file.x_coordinate + fileDOM.offsetWidth + 10
                }
                for (let i = 0; i < this.myImages.length; i++) {
                    const img = this.myImages[i]
                    let imgDOM = document.getElementById('imageBox' + img.id)
                    if ((img.x_coordinate + imgDOM.offsetWidth + 10) > maxX) maxX = img.x_coordinate + imgDOM.offsetWidth + 10
                }
                return maxX
            },

            yRange() {
                let maxY = 170
                for (let i = 0; i < this.myFiles.length; i++) {
                    const file = this.myFiles[i]
                    let fileDOM = document.getElementById('fileContainer' + file.id)
                    if ((file.y_coordinate + fileDOM.offsetHeight + 44) > maxY) maxY = file.y_coordinate + fileDOM.offsetHeight + 44
                }
                for (let i = 0; i < this.myImages.length; i++) {
                    const img = this.myImages[i]
                    let imgDOM = document.getElementById('imageBox' + img.id)
                    if ((img.y_coordinate + imgDOM.offsetHeight + 44) > maxY) maxY = img.y_coordinate + imgDOM.offsetHeight + 44
                }
                return maxY
            },
        },

        watch: {
            showPicker: function (value) {
                value
                    ? document.getElementById('fence' + this.fence.id).style.zIndex = 10
                    : document.getElementById('fence' + this.fence.id).style.zIndex = 1
            }
        },

        methods: {
            mountFence: (fence, element) => {
                fence.x_coordinate ? element.style.left = fence.x_coordinate + 'px' : element.style.left = 0
                fence.y_coordinate ? element.style.top = fence.y_coordinate + 'px' : element.style.top = 0
                fence.z_index ? element.style.zIndex = fence.z_index : element.style.zIndex = 1
            },

            resizeFence(event) {
                event = event || window.Event
                if (event.button != 0) return
                event.preventDefault()
                this.eventStartX = event.clientX / this.zoom
                this.eventStartY = event.clientY / this.zoom
                document.onmouseup = this.resizeEnd
                document.onmousemove = this.resizingFence
                document.getElementById('fence' + this.fence.id).style.zIndex = 10
            },

            resizingFence(event) {
                event = event || window.Event
                event.preventDefault()
                let element = document.getElementById('contentArea' + this.fence.id)
                this.eventEndX = this.eventStartX - (event.clientX / this.zoom)
                this.eventEndY = this.eventStartY - (event.clientY / this.zoom)
                this.translateFenceConnections((this.eventStartX - (event.clientX / this.zoom)), (this.eventStartY - (event.clientY / this.zoom)), element)
                element.style.width = (element.offsetWidth - this.eventEndX) + 'px'
                element.style.height = (element.offsetHeight - this.eventEndY) + 'px'
                if (element.offsetWidth < this.xRange) element.style.width = this.xRange + 'px'
                if (element.offsetHeight < this.yRange) element.style.height = this.yRange + 'px'
                this.fenceWid = element.offsetWidth
                this.fenceHei = element.offsetHeight
                this.eventStartX = event.clientX / this.zoom
                this.eventStartY = event.clientY / this.zoom
            },

            translateFenceConnections(xOffset, yOffset, element) {
                for (let i = 0; i < this.connections.length; i++) {
                    const conn = this.connections[i]
                    let conEl = document.getElementById('line' + conn.id),
                        jointedConnection = null
                    if (conEl) {
                        if (conn.from == this.fence.id) {
                            if (element.offsetWidth > (this.xRange + 1)) conEl.x1.baseVal.value -= (xOffset / 2)
                            if (element.offsetHeight > (this.yRange + 1)) conEl.y1.baseVal.value -= (yOffset / 2)
                        } else {
                            if (element.offsetWidth > (this.xRange + 1)) conEl.x2.baseVal.value -= (xOffset / 2)
                            if (element.offsetHeight > (this.yRange + 1)) conEl.y2.baseVal.value -= (yOffset / 2)
                        }
                    } else {
                        if (conn.from === this.fence.id) {
                            jointedConnection = document.getElementById('partLine' + conn.id + '-1')
                            if (element.offsetWidth > (this.xRange + 1)) jointedConnection.x1.baseVal.value -= (xOffset / 2)
                            if (element.offsetHeight > (this.yRange + 1)) jointedConnection.y1.baseVal.value -= (yOffset / 2)
                        } else {
                            jointedConnection = document.getElementById('partLine' + conn.id + '-' + (this.joints.filter(jnt => jnt.connection === conn.id).length + 1))
                            if (element.offsetWidth > (this.xRange + 1)) jointedConnection.x2.baseVal.value -= (xOffset / 2)
                            if (element.offsetHeight > (this.yRange + 1)) jointedConnection.y2.baseVal.value -= (yOffset / 2)
                        }
                    }
                }
            },

            resizeEnd() {
                for (let i = 0; i < this.connections.length; i++) {
                    const conn = this.connections[i]
                    let conEl = document.getElementById('line' + conn.id),
                        gradientEl = document.getElementById('gradient' + conn.id),
                        jointedConEl = null
                    if (conEl) {
                        // adjust connection
                        conEl.x1.baseVal.value = getFirstX(conn, 'fence')
                        conEl.y1.baseVal.value = getFirstY(conn, 'fence')
                        conEl.x2.baseVal.value = getSecondX(conn, 'fence')
                        conEl.y2.baseVal.value = getSecondY(conn, 'fence')
                    } else {
                        // adjust jointed connection
                        if (conn.from === this.fence.id) {
                            jointedConEl = document.getElementById('partLine' + conn.id + '-1')
                            jointedConEl.x1.baseVal.value = getFirstX(conn, 'fence')
                            jointedConEl.y1.baseVal.value = getFirstY(conn, 'fence')
                        } else {
                            jointedConEl = document.getElementById('partLine' + conn.id + '-' + (this.joints.filter(jnt => jnt.connection === conn.id).length + 1))
                            jointedConEl.x2.baseVal.value = getSecondX(conn, 'fence')
                            jointedConEl.y2.baseVal.value = getSecondY(conn, 'fence')
                        }
                    }

                    gradientEl.x1.baseVal.value = getFirstX(conn, 'fence')
                    gradientEl.y1.baseVal.value = getFirstY(conn, 'fence')
                    gradientEl.x2.baseVal.value = getSecondX(conn, 'fence')
                    gradientEl.y2.baseVal.value = getSecondY(conn, 'fence')
                }

                document.onmouseup = null
                document.onmousemove = null
                document.getElementById('fence' + this.fence.id).style.zIndex = this.fence.z_index

                axios.patch('/fence/' + this.fence.id, {
                    width: parseInt(this.fenceWid),
                    height: parseInt(this.fenceHei)
                })
            },

            updateFenceName(e) { axios.patch('/fence/' + this.fence.id, { name: e.target.value }) },

            saveColor() {
                this.showPicker = false
                axios.patch('/fence/' + this.fence.id, { color: this.color.hex })
                    .then(result => this.$emit('updateConnectionsColor', result.data.fileGroup))
            },

            closeOnEsc(e) {
                if (e.keyCode === 27 && this.showPicker) this.showPicker = false
            },
        },

        setup(props) {
            const form = useForm({ id: props.fence })

            const confirmingDelete = reactive({ show: false })

            const confirmDelete = () => confirmingDelete.show = true

            const closeModal = () => confirmingDelete.show = false

            const deleteFence = () => axios.delete('/fence/' + props.fence.id).then(() => closeModal())

            const resizeBtn = reactive({ show: false })

            return { form, confirmingDelete, confirmDelete, closeModal, deleteFence, resizeBtn }
        }
    }
</script>

<style scoped>
    .bee-ele-colorPicker {
        box-shadow: unset;
        border-radius: unset;
        border-bottom: 1px solid black;
    }
</style>
