<template>
    <div class="fc flex flex-col items-center gap-y-2 fico cursor-default" :class="'fivContainer' + file.id">
        <span  class="fc fico fiv-sqo fiv-size-lg" :class="'fiv-icon-' + file.extension + ' fivContainer' + file.id"></span>
        <div :class="'fivContainer' + file.id" class="fc fico flex flex-col items-center justify-center">
            <div :class="'fivContainer' + file.id" class="fc fico text-center break-all">{{ file.name }}</div>
            <div :class="'fivContainer' + file.id" class="fc fico text-sm text-gray-400">({{ getSizeInKB(file.size) }} KB)</div>
        </div>
    </div>
</template>

<script>
    import { getFirstX, getFirstY, getSecondX, getSecondY } from '../Pages/Files/ConnectionsCoordinates'
    
    export default {
        props: ['file', 'connections', 'joints'],

        mounted() {
            this.mountFile(this.file, document.getElementById('fileContainer' + this.file.id))

            Echo.channel('file-grid').listen('UpdateFileUploadEvent', response => {
                if (this.file.id === response.fileUpload.id) {
                    let fileEl = document.getElementById('fileContainer' + response.fileUpload.id)
                    response.fileUpload.file_group_id
                        ? document.getElementById('contentArea' + response.fileUpload.file_group_id).append(fileEl)
                        : document.getElementById('area').append(fileEl)
                    fileEl.style.left = response.fileUpload.x_coordinate + 'px'
                    fileEl.style.top = response.fileUpload.y_coordinate + 'px'
                    fileEl.style.zIndex = response.fileUpload.z_index

                    this.file.file_group_id = response.fileUpload.file_group_id
                    this.file.x_coordinate = response.fileUpload.x_coordinate
                    this.file.y_coordinate = response.fileUpload.y_coordinate

                    for (let i = 0; i < this.connections.length; i++) {
                        const conn = this.connections[i]
                        let conEl = document.getElementById('fileLine' + conn.id),
                            jointedConEl = null
                        if (conEl) {
                            conEl.x1.baseVal.value = getFirstX(conn, 'fileContainer')
                            conEl.y1.baseVal.value = getFirstY(conn, 'fileContainer')
                            conEl.x2.baseVal.value = getSecondX(conn, 'fileContainer')
                            conEl.y2.baseVal.value = getSecondY(conn, 'fileContainer')
                        } else {
                            if (conn.from === response.fileUpload.id) {
                                jointedConEl = document.getElementById('partFileLine' + conn.id + '-1')
                                jointedConEl.x1.baseVal.value = getFirstX(conn, 'fileContainer')
                                jointedConEl.y1.baseVal.value = getFirstY(conn, 'fileContainer')
                            } else {
                                jointedConEl = document.getElementById('partFileLine' + conn.id + '-' + (this.joints.filter(jnt => jnt.connection === conn.id).length + 1))
                                jointedConEl.x2.baseVal.value = getSecondX(conn, 'fileContainer')
                                jointedConEl.y2.baseVal.value = getSecondY(conn, 'fileContainer')
                            }
                        }
                    }
                }
            })
        },

        methods: {
            mountFile: (file, element) => {
                if (file.file_group_id && document.getElementById('contentArea' + file.file_group_id))
                    document.getElementById('contentArea' + file.file_group_id).insertAdjacentElement('beforeend', element)

                file.x_coordinate ? element.style.left = file.x_coordinate + 'px' : element.style.left = 0
                file.y_coordinate ? element.style.top = file.y_coordinate + 'px' : element.style.top = 0
                file.z_index ? element.style.zIndex = file.z_index : element.style.zIndex = 2
            },

            getSizeInKB: byteSize => Math.round((byteSize / 1024) * 10) / 10,
        }
    }
</script>
