<template>
    <div v-show="open" class="absolute z-50 border-2 rounded-lg border-blue-400 bg-white w-52 text-left overflow-hidden" id="actions">
        <slot class="pl-2 w-full" name="options"></slot>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                open: false,
            }
        },

        methods: {
            closeActionsOnEsc(event) {
                if (this.open && event.keyCode === 27) this.open = false
            },

            closeActionsMenu(event) {
                if (!this.rightClickInsideElement(event) && this.open) this.open = false
            },

            rightClickInsideElement(event) {
                let element = event.srcElement || event.target
                return element.classList.contains('fileActionsZone') ? true : false
            },

            leftMouseClickActions(event) {
                let click = event.which || event.button
                if (this.open && click === 1) this.open = false
            },

            closeActionsOnScroll() {
                if (this.open) this.open = false
            },
        },

        created() {
            document.addEventListener('keydown', this.closeActionsOnEsc)
            document.addEventListener('contextmenu', this.closeActionsMenu)
            document.addEventListener('click', this.leftMouseClickActions)
            document.addEventListener('wheel', this.closeActionsOnScroll)
        },

        beforeUnmount() {
            document.removeEventListener('keydown', this.closeActionsOnEsc)
            document.removeEventListener('contextmenu', this.closeActionsMenu)
            document.removeEventListener('click', this.leftMouseClickActions)
            document.removeEventListener('wheel', this.closeActionsOnScroll)
        },
    }
</script>
